@font-face {
  font-family: 'Abel';
  src: url(../fonts/Abel.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('../fonts/SFProDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('../fonts/SFProDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('../fonts/SFProDisplay-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

*, *:before, *:after {
	box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  font-family: SF Pro Display;
  background: transparent;
  text-decoration: none;
  box-sizing: border-box;
}

input[type='text'] {
  -webkit-border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a, label {
  -webkit-tap-highlight-color: transparent;
}

html, body {
  margin: 0;
  font-size: 16px;
  -webkit-text-size-adjust: none;
  scroll-behavior: smooth;
}

h1 {
  font-family: SFProDisplay;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.44;
}

h2 {
  font-family: SFProDisplay;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.38;
}

h3 {
  font-family: SFProDisplay;
  font-size: 26px;
  font-weight: 600;
  line-height: 1.38;
}

.body-popup-active {
  max-height: 100vh;
  overflow: hidden;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: #f6f6f6;
}

.contacts-popup, .menu-popup {
  display: none;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  -webkit-backdrop-filter: blur(13px);
  backdrop-filter: blur(13px);
  background-color: rgba(0, 0, 0, 0.6);
  overflow-y: auto;
  z-index: 9999;
}

.popup-active {
  opacity: 1;
  display: inline;
}

.contacts-popup-wrapper,
.menu-popup-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 60px 60px 120px;
  width: 100%; min-height: 100%;
}

.contacts-popup-wrapper a,
.menu-popup-wrapper a {
  text-align: center;
  width: 100%;
  color: #fff;
  line-height: 50px;
  border-radius: 4px;
  border: solid 1px #fff;
  margin-bottom: 8px;
}

.contacts-popup-wrapper a {
  font-family: Abel;
  font-size: 18px;
}

.menu-popup-wrapper a {
  font-family: SFProDisplay;
  font-size: 16px;
}

.contacts-popup-wrapper button,
.menu-popup-wrapper button {
  width: 100%;
  height: 38px;
  border-radius: 4px;
  background-color: #44c543;
  font-family: SFProDisplay;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.57;
  color: #fff;
  margin-top: 16px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 104px;
  padding: 0 calc((100% - 1020px) / 2);
  box-shadow: 0 1px 4px 0 rgba(63, 63, 63, 0.2);
  background-color: #fff;
}

.logo {
  min-width: 144px;
  width: 144px;
  height: 32px;
  margin-right: 60px;
  background: url(../img/logo.svg) no-repeat center / cover;
}

.header-content-mob {
  display: none;
  justify-content: flex-end;
  align-items: inherit;
}

.header-menu-btn {
  display: none;
  width: 24px; height: 24px;
  margin-left: 20px;
  background: url(../img/menu_btn.svg) no-repeat center;
}

.header-tel-btn {
  display: none;
  width: 24px; height: 24px;
  background: url(../img/tel_btn.svg) no-repeat center;
}


.header-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 763px;
}

.category-select {
  display: none;
  opacity: 0;
  position: absolute;
  top: 112px; left: 0;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 18px 0;
  z-index: 999;
}

.category-select-active { display: flex; opacity: 1; }

.category-select li {
  padding: 0 16px;
  cursor: pointer;
  display: flex;
  height: 26px;
  align-items: center;
}

.category-select li:hover {
  border-left: 3px solid #44c543;
  background-color: #f1f0f0;
  padding-left: 13px;
}

.category-select li:hover a { color: #44c543; }


.category-select li:last-child { margin: 0; }

.category-select li a {
  font-family: SFProDisplay;
  font-size: 14px;
  line-height: 1.29;
  color: rgba(63, 63, 63, 0.7);
  margin: 0;
  width: 100%;
}

.header-content a,
.header-numbers a {
  font-family: Abel;
  font-size: 13px;
  font-style: normal;
  line-height: 1.62;
  letter-spacing: normal;
  color: #262626;
  margin-bottom: 9px;
}

.header-numbers a { margin-bottom: 0; }

.header-contacts {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(63, 63, 63, 0.1);
}

.header-contacts a { transition: opacity .2s ease; }
.header-contacts a:hover { opacity: .5; }

.header-numbers a:nth-child(1),
.header-numbers a:nth-child(2) {
  padding-right: 16px;
  margin-right: 15px;
  border-right: 1px solid rgba(63, 63, 63, 0.1);
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}
.header-nav nav { display: flex; }

.header-nav-select {
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 4px;
  border: solid 1px #44c543;
  padding-left: 16px;
  font-family: SFProDisplay;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.23;
  color: #44c543;
  transition: background .2s ease, color .2s ease;
}

.header-nav-select::after {
  margin-left: 16px;
  content: "";
  width: 32px; height: 32px;
  background: url(../img/green_arrow_down.svg) no-repeat center;
  transition: all .2s ease;
}

.header-nav-select:hover {
  color: #fff;
  background: #44c543;
}

.header-nav-select:hover::after {
  background: url(../img/white_arrow_up.svg) no-repeat center;
}

.header-nav-select-active {
  color: #fff;
  background: #44c543;
}

.header-nav-select-active::after {
  margin-left: 16px;
  content: "";
  width: 32px; height: 32px;
  background: url(../img/white_arrow_up.svg) no-repeat center;
  transition: all .2s ease;
}

.header-nav nav a {
  font-family: SFProDisplay;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.57;
  color: #3f3f3f;
  margin: 0 0 0 32px;
  transition: color .2s ease;
}

.header-nav nav a:hover { color: #44c543; }



/*INDEX*/

.head-banner-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.head-banner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 120px 110px 40px;
  width: 1020px;
  height: 580px;
  background: url(../img/head_banner.jpg) no-repeat center / cover;
}

.head-banner-content {
  display: flex;
  flex-direction: inherit;
  align-items: inherit;
  color: #fff;
}
.head-banner-content h1 { text-align: center; }
.head-banner-content h2 { margin: 16px 0 56px; text-align: center; }

.head-banner-form { display: flex; }

.head-banner-form input {
  width: 350px;
  height: 50px;
  border-radius: 4px;
  border: solid 1px #979797;
  background-color: #ffffff;
  padding: 0 16px;
  font-family: SFProDisplay;
  font-size: 16px;
  line-height: 1.38;
  margin-right: 16px;
}

.head-banner-form input::placeholder { color: rgba(63, 63, 63, 0.4); }

.head-banner-form button {
  white-space: nowrap;
  cursor: pointer;
  height: 50px;
  border-radius: 4px;
  background: #44c543;
  padding: 0 32px;
  font-family: SFProDisplay;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.57;
  color: #fff;
  transition: background .2s ease;
}

.head-banner-form button:hover { background: #3AAC39; }

.categories-btn {
  display: flex;
  align-items: center;
  font-family: SFProDisplay;
  font-size: 18px;
  line-height: 1;
  color: #fff;
  transition: opacity .2s ease;
}

.categories-btn:hover { opacity: .5; }

.categories-btn span {
  margin-right: 8px;
  display: flex;
  width: 24px;
  height: 24px;
  background: url(../img/categories_icon.svg) no-repeat center;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 40px calc((100% - 1020px) / 2) 140px;
}

.category-item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 4px;
  width: 320px;
  height: 190px;
  padding: 16px;
  margin: 0 30px 30px 0;
  overflow: hidden;
}

.category-item:hover img { transform: scale(1.2); }

.category-item:nth-child(3n) { margin: 0 0 30px 0; }

.category-item img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .5s ease;
}

.category-item span {
  position: absolute;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.category-item p {
  font-family: SFProDisplay;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  color: #fff;
  text-align: center;
  z-index: 2;
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 70px calc((100% - 1020px) / 2) 0;
  background-color: #262626;
  color: #fff;
}

footer a { transition: opacity .2s ease; }
footer a:hover { opacity: .5; }

.footer-content {
  display: flex;
  width: 100%;
  padding-bottom: 80px;
  border-bottom: 1px solid rgba(215, 215, 215, .4);
}

.footer-contacts {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  min-width: 50%;
  padding-right: 15px;
}

.footer-content h2 { margin-bottom: 16px; }

.footer-contacts a {
  font-family: Abel;
  font-size: 18px;
  line-height: 1.22;
  color: #fff;
  margin-bottom: 8px;
}

.footer-logo {
  margin-top: 32px;
  width: 144px;
  height: 32px;
  background: url(../img/footer_logo.svg) no-repeat center;
}

.footer-categories {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 320px;
  margin: 0 15px;
}

.footer-menu {
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 15px;
}

.footer-categories a,
.footer-menu a {
  font-family: SFProDisplay;
  font-size: 14px;
  line-height: 1.57;
  color: #fff;
  margin-bottom: 8px;
}

.footer-categories a:last-child { margin-bottom: 0; }

.footer-copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 0;
}

.almo-icon {
  display: flex;
  align-items: inherit;
  font-family: SFProDisplay;
  font-size: 13px;
  color: #fff;
}

.almo-icon:after {
  content: '';
  width: 40px;
  height: 16px;
  background: url(../img/almo_icon.svg) no-repeat center;
  margin-left: 5px;
}

.footer-copyright p {
  font-family: SFProDisplay;
  font-size: 13px;
  color: rgba(255, 255, 255, .4);
}

.footer-copyright ul {
  display: flex;
  justify-content: flex-end;
  align-items: inherit;
}

.footer-copyright ul li {
  display: flex;
  margin-left: 30px;
}

.footer-copyright ul li:first-child { margin-left: 0; }

.footer-copyright li a { width: 24px; height: 24px; }
.footer-copyright ul li:nth-child(1) a { background: url(../img/twitter.svg) no-repeat center; }
.footer-copyright ul li:nth-child(2) a { background: url(../img/instagram.svg) no-repeat center; }

.rotation-btn {
  z-index: 999;
  position: fixed;
  right: -1px; top: 40vh;
  border: solid 1px #44c543;
  background-color: #ffffff;
  border-radius: 4px 4px 0 0;
  transform-origin: right bottom;
  transition: background-color .2s ease;
  transform: rotate(-90deg);
}

.rotation-btn a {
  display: block;
  color: #000000;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.57;
  font-style: normal;
  padding: 14px 32px;
  font-family: SFProDisplay;
  transition: color .2s ease;
}

.rotation-btn:hover { background-color: #44c543; }
.rotation-btn:hover a { color: #fff; }

@media (max-height: 425px) {
  .rotation-btn { display: none; }
}

@media (max-width: 640px) {
  .rotation-btn a { padding: 8px 32px; }
}
