.success {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 108px 60px 80px;
    min-height: calc(100vh - 104px);
}

.success svg { margin-bottom: 72px; }

.success h1 { color: #3f3f3f; text-align: center; }
.success p {
    font-family: SFProDisplay;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.38;
    color: #3f3f3f;
    margin: 8px 0 40px;
    text-align: center;
}

.success a {
    padding: 0 32px;
    border-radius: 4px;
    background: #44c543;
    font-family: SFProDisplay;
    font-size: 14px;
    font-weight: 600;
    line-height: 50px;
    color: #ffffff;
    transition: background .2s ease;
}

.success a:hover,
.success a:focus { background: #3AAC39; }
