{% extends "base.html" %}


{% block content %}

<div class="about service-wrapper">
    <div class="service-banner">
        <img src="../static/img/about_bg.jpg" alt="">
        <div class="service-banner-content">
            <h1>О нас</h1>
            <h2>Каждый час мы утилизируем 15000 кг отходов</h2>
        </div>
    </div>
    <div class="crumbs">
        <a href="/">Главная</a>
        <a href="">О нас</a>
    </div>
    <div class="service">
        <div class="service-tools">
            <ul class="service-tabs">
                <li><a href="#block-1">О нас</a></li>
                <li><a href="#block-2">Почему нужно утилизировать отходы</a></li>
                <li><a href="#block-3">Почему работают с нами</a></li>
                <li><a href="#block-4">Как мы работаем</a></li>
            </ul>
            <div class="service-btns">
                <a href="/order">Заказать услугу</a>
                <a href="/contacts">Контакты</a>
            </div>
        </div>
        <div class="service-body">
            <div id="block-1" class="service-body-item">
                <h3>О нас</h3>
                <p>GO ECO GROUP — новая украинская эко-компания по транспортировке и утилизации отходов. Создавая этот проект, мы выявили проблемы крупных и малых производств. Предприятия наращивают мощности и производят огромное количество опасных отходов. Они сталкиваются с трудностями их сбора, хранения и обезвреживания. Поэтому команда GO ECO GROUP решает «боль» клиента — берет на себя всю ответственность за переработку и утилизацию отходов.</p>
                <br>
                <p>Наша миссия — обеспечить экологическую безопасность Украины. Наш приоритет — правильная утилизация отходов в полном соответствии к требованиям Украинского законодательства и качественный сервис для наших клиентов. Мы хотим стать примером и показать, что правильная утилизация отходов в Украине существует.  Мы утилизируем такие отходы как:</p><br>
                <ul>
                    <li>судовые и авиационные;</li>
                    <li>нефтесодержащие отходы (моторные и индустриальные масла, бензин, нефтешлам);</li>
                    <li>смолы, мазут, дизельное топливо;</li>
                    <li>гудрон, керосин, битум, газовый конденсат. </li>
                </ul>
                <br>
                <p>Мы против незаконного выброса опасных отходов, поэтому занимаемся их уничтожением, переработкой и утилизацией.</p>
                <br>
                <div class="body-item-pictures">
                    <img src="../static/img/about_1.jpg" alt="">
                    <img src="../static/img/about_2.jpg" alt="">
                </div>
            </div>
            <div id="block-2" class="service-body-item">
                <h3>Почему нужно утилизировать отходы</h3>
                <p>Промышленность с каждым годом растет, а это значит — оставляет после себя ядовитый след. Неправильное обращение с отходами наносит непоправимый вред природе, животным и человеку. К примеру, в Киевской области каждый год в атмосферу попадает 1,7 т/кв. км опасных веществ. Здесь же генерируется 28,6% от общего числа загрязненных сточных вод Украины. И это только в одной из 24-х областей. Эти отходы токсичны и ядовиты, они пагубно влияют на окружающую среду и нашу с вами жизнь. </p>
                <br>
                <p>Это может привести к экологической катастрофе, результат которой — заражение грунтовых вод, почвы, флоры и фауны, серьезные болезни человека: рак, аллергии, кожные заболевания, снижение иммунитета. </p>
                <br>
                <p>Согласно статье 33 Закона Украины «Про охрану атмосферного воздуха» от 16 октября 1991 года особы, которые виновны в выбросах загрязняющих веществ в воздух без разрешения уполномоченных органов, несут определенную ответственность перед законом. Криминальный Кодекс Украины гласит, что загрязнение воздуха веществами и промышленными отходами, которые опасны для жизни людей и окружающей среды, наказываются штрафом от 100 до 200 необлагаемых минимумов доходов граждан или лишением свободы на срок от 3-х лет. GO ECO GROUP помогает большим и малым предприятиям не допустить такой проблемы и берет всю ответственность за ликвидацию опасных отходов на себя.</p>
            </div>
            <div id="block-3" class="service-body-item">
                <h3>Почему работают с нами</h3>
                <p>Предлагая наши услуги, мы сохраняем природу Украины и повышаем уровень экологии страны. Мы стремимся соответствовать всем ожиданиям клиентов, поэтому: </p>
                <br>
                <ol>
                    <li>Утилизируем отходы под ключ: транспортируем, сортируем, храним, перерабатываем или обезвреживаем.</li>
                    <li>Наши технологии основаны на профессиональном тех. оборудовании и опыте квалифицированных специалистов.</li>
                    <li>Предоставляем все отчеты и документацию — вы знаете, как идет работа.</li>
                    <li>Сотрудничаем с любым предприятием по всей Украине.</li>
                    <li>Даем гарантию результата.</li>
                    <li>Работаем проектно или устанавливаем долгосрочные контакты с каждым заказчиком.</li>
                    <li>Анализируем объем работ и подбираем стоимость услуги исключительно под каждого клиента.</li>
                </ol>
            </div>
            <div id="block-4" class="service-body-item">
                <h3>Как мы работаем</h3>
                <p>Одна из наших ценностей — это клиентоориентированность. Мы понимаем важность своей работы, ожидания и потребности клиента, стараясь выполнить их как можно лучше. Мы отбираем в наш коллектив опытных людей, которые работают в экологии уже долгое время. GO ECO GROUP — команда, которая стремится найти индивидуальный подход к каждому отдельному проекту.</p>
                <br>
                <p>Наши услуги нужны вам, если:</p><br>
                <ul>
                    <li>в результате деятельности вашей организации появляются отходы любой степени опасности;</li>
                    <li>вам необходима их правильная утилизация, согласно Украинского законодательства.</li>
                </ul>
                <br>
                <p>Компания GO ECO GROUP — лучшее решение проблемы утилизации и переработки любых видов отходов. Мы гарантируем качество и своевременность выполнения договора. Мы работаем со всеми необходимыми документами, разрешениями, лицензиями и сертификатами. Все, что вам нужно сейчас — оставить заявку на сайте.</p>
                <br>
                <p>Сохраним нашу природу и будущее Украины вместе! </p>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
