{% extends "base.html" %}


{% block content %}

<div class="about service-wrapper">
    <div class="service-banner">
        <img src="../static/img/about_bg.jpg" alt="">
        <div class="service-banner-content">
            <h1>Про нас</h1>
            <h2>Щогодини ми утилізуємо 15000 кг відходів</h2>
        </div>
    </div>
    <div class="crumbs">
        <a href="/">Головна</a>
        <a href="">Про нас</a>
    </div>
    <div class="service">
        <div class="service-tools">
            <ul class="service-tabs">
                <li><a href="#block-1">Про нас</a></li>
                <li><a href="#block-2">Утилізація відходів: основні проблеми</a></li>
                <li><a href="#block-3">Етапи утилізації відходів</a></li>
                <li><a href="#block-4">Ліцензії</a></li>
                <li><a href="#block-5">Наше вирбництво</a></li>
            </ul>
            <div class="service-btns">
                <a href="/order">Замовити послугу</a>
                <a href="/contacts">Контакти</a>
            </div>
        </div>
        <div class="service-body">
            <div id="block-1" class="service-body-item">
                <h3>Про нас</h3>
                <p>Збільшення чисельності населення та розвиток виробництва неминуче пов’язане зі зростанням рівня
                    споживання нафтопродуктів, що в свою чергу призводить до збільшення кількості їх відходів. Наявність
                    такого роду контамінантів супроводжує життєдіяльність пересічних громадян, а також діяльність
                    підприємств різних масштабів. Тому для поліпшення рівня життя населення країни в першу чергу та
                    екологічного середовища зокрема важливо всіляко підтримувати заходи, спрямовані на збір та
                    утилізацію таких відходів, а за можливості - до їх рециклінгу , тобто переробки з метою вторинного
                    використання.</p>
                <br>
                <p>Компанія Go-Eco Group пропонує свої послуги приватним та корпоративним клієнтам зі збору та вивезення
                    відходів, а також послуг з утилізації та переробки нафтовмісних відходів.
                    Go-Eco Group - сучасний підхід до збору та утилізації відходів.
                    У розпорядженні компанії Go-Eco Group - штат висококваліфікованих досвідчених співробітників,
                    сучасна спецтехніка, завод з утилізації, устаткування для збору та утилізації відходів різних типів
                    і класів небезпеки.
                    Ми пропонуємо вигідні умови співробітництва для підприємств, незалежно від форм власності та сфери
                    діяльності. Наші ціни приємно здивують замовників, незалежно від довгостроковості співробітництва.
                </p>
                <br>
                <p>Серед послуг компанії Go-Eco Group окрему увагу заслуговує надання в оренду ємностей різного об'єму
                    для накопичення відходів.
                    Компанія Go-Eco Group group утилізує наступні види відходів:
                </p><br>
                <ul>
                    <li>Промислові відходи (відпрацьовані оливи, такі як моторні, дизельне, індустріальні, трансмісійні,
                        трансформаторні, турбінні, компресорні, гідравлічні, синтетичні мінеральні)
                    </li>
                    <li>Відходи нафти (емульсії, кубові залишки, смоли, розчинники, тощо)</li>
                    <li>Відходи коксохімічного палива</li>
                    <li>Відпрацьовані акумулятори (свинцеві без електроліту та лужні)</li>
                    <li>Кольорові метали</li>
                    <li>Нафтошлами</li>
                    <li>Відходи гудронів та бітумів</li>
                    <li>Мазути</li>
                    <li>Кубові залишки після зберігання нафти</li>
                    <li>Дизельне паливо</li>
                    <li>Відходи нафти після буріння</li>
                    <li>Відходи газового конденсату</li>
                    <li>Кислі гудрони</li>
                    <li>Нафтові відходи</li>
                    <li>Льяльні води</li>
                </ul>
            </div>
            <div id="block-2" class="service-body-item">
                <h3>Утилізація відходів: основні проблеми</h3>
                <p>Відповідна утилізація відходів і їх переробка для вторинного використання - те, без чого не
                    функціонують промислові галузі провідних країн світу та Європи. Україна теж step-by-step
                    наближається до цієї мети, проте через наявність чималих перешкод розвиток цієї сфери діяльності
                    відбувається повільно. Серед таких перешкод можна виділити:</p>
                <br>
                <ul>
                    <li>недостатнє фінансування;</li>
                    <li>слаборозвинений ринок вторинної сировини;</li>
                    <li>неефективність державних програм з просування використання вторсировини;</li>
                    <li>безвідповідальне ставлення підприємств до процесу утилізації відходів, тощо.</li>
                </ul>
            </div>
            <div id="block-3" class="service-body-item">
                <h3>Етапи утилізації відходів</h3>
                <p>В уяві пересічного громадянина утилізація відходів виглядає як їх фактичне вивезення за межі певної
                    території/місцевості та розміщення на спеціалізованій ділянці. Насправді ж відповідальний підхід до
                    цього процесу передбачає низку етапів:</p>
                <br>
                <ol>
                    <li>Збір і вивезення;</li>
                    <li>Подальша переробка з метою утилізації відходів;</li>
                    <li>Знешкодження відходів методом рециклінгу або утилізації.</li>
                </ol>
                <br>
                <p>Важливо наголосити на тому, що збір та утилізація нафти та нафтових відходів - це завдання для
                    досвідчених професіоналів, яке потребує не лише знання справи, а й наявність відповідного
                    устаткування (технічне обладнання, спецодяг, засоби захисту).
                    Компанія Go-Eco Group пишається тим, що може надати послуги саме завдяки такій комбінації в своєму
                    арсеналі.
                </p>
                <br>
                <p>Діяльність компанії Go-Eco Group ліцензована з усіх напрямків діяльності.
                    У складі компанії перебуває власне завод з утилізації відходів потужністю 48 тис. тонн/рік.
                    Співпрацюючи з нами, ви можете забути про всі проблеми, пов'язані з утилізацією нафтопродуктів.
                </p>
                <br>
                <p>«Go-Eco Group» пропонує весь спектр послуг зі збирання, вивезення, переробки та утилізації
                    нафтопродуктів (нафтових відходів).</p>
            </div>
            <div id="block-4" class="service-body-item">
                <h3>Ліцензії</h3>
                <div class="body-item-pictures">
                    <a class="fancybox" data-fancybox="gallery" href="../static/img/license_1.jpg"><img
                            src="../static/img/license_1.jpg" alt=""></a>
                    <a class="fancybox" data-fancybox="gallery" href="../static/img/license_2.jpg"><img
                            src="../static/img/license_2.jpg" alt=""></a>
                    <a class="fancybox" data-fancybox="gallery" href="../static/img/license_3.jpg"><img
                            src="../static/img/license_3.jpg" alt=""></a>
                    <a class="fancybox" data-fancybox="gallery" href="../static/img/license_4.jpg"><img
                            src="../static/img/license_4.jpg" alt=""></a>
                </div>
            </div>
            <div id="block-5" class="service-body-item">
                <h3>Наше вирбництво</h3>
                <div class="body-item-pictures">
                    <a class="fancybox" data-fancybox="gallery2" href="../static/img/production_1.jpg"><img
                            src="../static/img/production_1.jpg" alt=""></a>
                    <a class="fancybox" data-fancybox="gallery2" href="../static/img/production_2.jpg"><img
                            src="../static/img/production_2.jpg" alt=""></a>
                    <a class="fancybox" data-fancybox="gallery2" href="../static/img/production_3.jpg"><img
                            src="../static/img/production_3.jpg" alt=""></a>
                    <a class="fancybox" data-fancybox="gallery2" href="../static/img/production_4.jpg"><img
                            src="../static/img/production_4.jpg" alt=""></a>
                    <a class="fancybox" data-fancybox="gallery2" href="../static/img/production_5.jpg"><img
                            src="../static/img/production_5.jpg" alt=""></a>
                    <a class="fancybox" data-fancybox="gallery2" href="../static/img/production_6.jpg"><img
                            src="../static/img/production_6.jpg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
