<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Go-Eco" />
    <meta property="og:description" content="Go-Eco" />
    <link rel="icon" href="favicon.svg" sizes="any" type="image/svg+xml">
    <link rel="icon" href="favicon-48x48.png" sizes="48x48" type="image/png">
    <link rel="stylesheet" type="text/css" href="../static/css/style.bundle.css">
    <script data-ad-client="ca-pub-9068913943112098" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <title>Go-Eco</title>
</head>

<body>
    <div class="main">
        <div class="contacts-popup">
            <div class="contacts-popup-wrapper">
                <div class="header-social">
                    <a href="https://t.me/go_eco" target="_blank"><img src="../static/img/ic-telegram-app.svg"
                            alt=""></a>
                    <a href="viber://chat?number=+380672553535" target="_blank"><img src="../static/img/ic-viber.svg"
                            alt=""></a>
                    <a href="https://wa.me/380672553535" target="_blank"><img src="../static/img/ic-wa.svg" alt=""></a>
                </div>
                <a href="tel:+380671553535">+38 067 155 35 35</a>
                <a href="tel:+380672553535">+38 067 255 35 35</a>
                <a href="tel:+380672753535">+38 067 275 35 35</a>
                <a href="tel:+380978888823">+38 097 888 88 23</a>
                <button class="close-tel-popup-btn">Повернутися</button>
            </div>
        </div>
        <div class="menu-popup">
            <div class="menu-popup-wrapper">
                <a id="services-btn" href="/#categories">Послуги</a>
                <a href="/about">Про нас</a>
                <a href="/contacts">Контакти</a>
                <button class="close-menu-popup-btn">Повернутися</button>
            </div>
        </div>

        <header>
            <a href="/" class="logo"></a>
            <div class="header-content-mob">
                <div class="header-numbers">
                    <a class="header-number" href="tel:+380978888823">+38 097 888 88 23</a>
                    <a class="header-number" href="tel:+380688238888">+38 068 823 88 88</a>
                    <div class="header-social">
                        <a href="https://t.me/go_eco" target="_blank"><img src="../static/img/ic-telegram-app.svg"
                                alt=""></a>
                        <a href="viber://chat?number=+380978888823" target="_blank"><img
                                src="../static/img/ic-viber.svg" alt=""></a>
                        <a href="https://wa.me/380978888823" target="_blank"><img src="../static/img/ic-wa.svg"
                                alt=""></a>
                    </div>
                </div>
                <div class="header-tel-btn"></div>
                <div class="header-menu-btn"></div>
            </div>
            <div class="header-content">
                <div class="header-contacts">
                    <div class="header-numbers">
                        <a class="header-number" href="tel:+380978888823">+38 097 888 88 23</a>
                        <a class="header-number" href="tel:+380688238888">+38 068 823 88 88</a>
                        <div class="header-social">
                            <a href="https://t.me/go_eco" target="_blank"><img src="../static/img/ic-telegram-app.svg"
                                    alt=""></a>
                            <a href="viber://chat?number=+380978888823" target="_blank"><img
                                    src="../static/img/ic-viber.svg" alt=""></a>
                            <a href="https://wa.me/380978888823" target="_blank"><img src="../static/img/ic-wa.svg"
                                    alt=""></a>
                        </div>
                    </div>
                    <a href="mailto:ecooilnvp@gmail.comА" target="_blank">ecooilnvp@gmail.com</a>
                </div>
                <div class="header-nav">
                    <button class="header-nav-select">Категорія послуг</button>
                    <nav>
                        <a href="/about">Про нас</a>
                        <a href="/contacts">Контакти</a>
                    </nav>
                </div>
                <ul class="category-select">
                    <li><a href="/service/14">Нафтошлам</a></li>
                    <li><a href="/service/7">Нафтові відходи</a></li>
                    <li><a href="/service/4">Відпрацьовані оливи</a></li>
                    <li><a href="/service/3">Мазут</a></li>
                    <li><a href="/service/5">Гудрон та Кислий гудрон</a></li>
                    <li><a href="/service/2">Бітум</a></li>
                    <li><a href="/service/8">Кубовий залишок</a></li>
                    <li><a href="/service/15">Нафтопродукти</a></li>
                    <li><a href="/service/12">Зачистка ємностей</a></li>
                </ul>
            </div>
        </header>

        <div class="rotation-btn">
            <a href="/what">Чому потрібно утилізувати</a>
        </div>

        {% block content %}
        {% endblock content %}

        <footer>
            <div class="footer-content">
                <div class="footer-contacts">
                    <h2>Київ, Спортивна площа, будинок 1а, 15 поверх</h2>
                    <a href="tel:+380978888823">+38 097 888 88 23</a>
                    <a href="tel:+380688238888">+38 068 823 88 88</a>
                    <div class="footer-logo"></div>
                </div>
                <div class="footer-categories">
                    <h2>Категорії послуг</h2>
                    <a href="/service/14">Нафтошлам</a>
                    <a href="/service/7">Нафтові відходи</a>
                    <a href="/service/4">Відпрацьовані оливи</a>
                    <a href="/service/3">Мазут</a>
                    <a href="/service/5">Гудрон та Кислий гудрон</a>
                    <a href="/service/2">Бітум</a>
                    <a href="/service/8">Кубовий залишок</a>
                    <a href="/service/15">Нафтопродукти</a>
                    <a href="/service/12">Зачистка ємностей</a>
                </div>
                <div class="footer-menu">
                    <h2>Карта сайту</h2>
                    <a href="/#categories">Послуги</a>
                    <a href="/about">Про нас</a>
                    <a href="/contacts">Контакти</a>
                </div>
            </div>
            <div class="footer-copyright">
                <a class="almo-icon" href="https://almocode.co" target="_blank">Зроблено з допомогою</a>
                <p>© NVP ECO OIL, 2021</p>
                <ul>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
            </div>
        </footer>
    </div>
    <script src="../static/js/bundle.js" defer></script>
</body>

</html>