{% extends "base.html" %}

{% block content %}

<div class="contacts-banner">
	<h1>Контакты</h1>
	<h2>Мы всегда будем рады с Вами пообщаться</h2>
</div>
<div class="crumbs">
	<a href="/">Главная</a>
	<a href="">Контакты</a>
</div>

<div class="contacts-content">
	<div class="order-service">
		<a href="/order">Заказать услугу на сайте</a>
	</div>
	<div class="contacts-content-wrapper">
		<div class="contacts-title-mob">
			<h1>Контакты</h1>
			<h2>Мы всегда будем рады с Вами пообщаться</h2>
		</div>
		<div class="contacts-content-dsc">
			<h3>Контакты</h3>
			<span class="contacts-icon-mob tel-icon"></span>
			<div class="contacts-content-dsc-numbers">
				<a href="tel:+380671553535"><span class="tel-icon"></span><p>+38 067 155 35 35</p></a>
				<a href="tel:+380672553535"><span class="tel-icon"></span><p>+38 067 255 35 35</p></a>
				<a href="tel:+380672753535"><span class="tel-icon"></span><p>+38 067 275 35 35</p></a>
				<a href="mailto:info@go-eco.com" target="_blank"><span class="mail-icon"></span><p>info@go-eco.com</p></a>
			</div>
		</div>

		<div class="contacts-content-card">
			<h3>Главный офис</h3>
			<div class="contacts-address-wrapper">
				<div class="contacts-address">
					<span class="location-icon"></span>
					<p>Киев, Спортивная площадь, дом 1а, 15 этаж</p>
				</div>
				<a href="https://goo.gl/maps/wbAgs3wxQ9QMTcCP8" class="contacts-address-icon" title="Проложить маршрут" target="_blank"></a>
			</div>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2541.210134246526!2d30.520164515776685!3d50.437186479473546!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cefe0307c283%3A0x4fa02c51dab44cf8!2zUGFsYWNlIG9mIFNwb3J0cywg0KHQv9C-0YDRgtC40LLQvdCwINC_0LvQvtGJ0LAsIDEsINCa0LjRl9CyLCAwMjAwMA!5e0!3m2!1sru!2sua!4v1574117110887!5m2!1sru!2sua" frameborder="0" allowfullscreen=""></iframe>
			<a class="map-route-mob-btn" href="https://goo.gl/maps/wbAgs3wxQ9QMTcCP8">проложить маршрут</a>
		</div>
		<div class="order-service-mob order-service">
			<a href="/order">Заказать услугу на сайте</a>
		</div>
	</div>

</div>

{% endblock content %}
