{% extends "base.html" %}

{% block content %}

<div class="head-banner-wrapper">
    <div class="head-banner">
        <div class="head-banner-content">
            <h1>Утилізація і переробка відходів по всій Україні</h1>
            <h2>Щогодини ми утилізуємо 15000 кг відходів</h2>
            <form class="head-banner-form" id="head-banner-form">
                <input type="text" name="item" placeholder="Що потрібно утилізувати?" required>
                <button>Подати заяву</button>
            </form>
        </div>
        <a class="categories-btn" href="#categories"><span></span>Всі категорії послуг</a>
    </div>
</div>

<div id="categories" class="categories">
    <a class="category-item" href="/service/1">
        <img src="../static/img/condensate.jpg">
        <p>Конденсат</p>
    </a>
    <a class="category-item" href="/service/2">
        <img src="../static/img/pitches.jpg">
        <p>Смоли</p>
    </a>
    <a class="category-item" href="/service/3">
        <img src="../static/img/fuel_oil.jpg">
        <p>Мазут</p>
    </a>
    <a class="category-item" href="/service/4">
        <img src="../static/img/oils.jpg">
        <p>Масла</p>
    </a>
    <a class="category-item" href="/service/5">
        <img src="../static/img/tar.jpg">
        <p>Гудрон</p>
    </a>
    <a class="category-item" href="/service/6">
        <img src="../static/img/bitumen.jpg">
        <p>Бітум</p>
    </a>
    <a class="category-item" href="/service/7">
        <img src="../static/img/oil_sludge.jpg">
        <p>Нафтошлам</p>
    </a>
    <a class="category-item" href="/service/8">
        <img src="../static/img/balance.jpg">
        <p>Кубовий залишок після зберігання нафти</p>
    </a>
    <a class="category-item" href="/service/9">
        <img src="../static/img/diesel_fuel.png">
        <p>Дизельне паливо</p>
    </a>
    <a class="category-item" href="/service/10">
        <img src="../static/img/petrol.jpg">
        <p>Бензин</p>
    </a>
    <a class="category-item" href="/service/11">
        <img src="../static/img/kerosene.jpg">
        <p>Гас</p>
    </a>
    <a class="category-item" href="/service/12">
        <img src="../static/img/tank_cleaning.jpg">
        <p>Зачистка ємкостей</p>
    </a>
    <a class="category-item" href="/service/13">
        <img src="../static/img/substandard.jpg">
        <p>Некондиційна продукція</p>
    </a>
</div>

{% endblock content %}


