{% extends "base.html" %}


{% block content %}

<div class="service-wrapper">
    <div class="service-banner">
        <img src="../static/img/pitches_bg.jpg" alt="">
        <div class="service-banner-content">
            <h1>Утилізація бітуму і смол</h1>
            <h2>Щогодини ми утилізуємо 15000 кг відходів</h2>
            <a href="{{ url_for('order', item='Утилізація бітуму і смол') }}">Замовити послугу</a>
        </div>
    </div>
    <div class="crumbs">
        <a href="/">Головна</a>
        <a href="">Утилізація бітуму і смол</a>
    </div>
    <div class="service">
        <div class="service-tools">
            <ul class="service-tabs">
                <li><a href="#block-1">Вступ</a></li>
                <li><a href="#block-2">Особливості утилізації бітуму</a></li>
                <li><a href="#block-3">Утилізувати бітуми Go-Eco Group</a></li>
            </ul>
            <div class="service-btns">
                <a href="{{ url_for('order', item='Утилізація бітуму і смол') }}">Замовити послугу</a>
                <a href="/contacts">Контакти</a>
            </div>
        </div>
        <div class="service-body">
            <div id="block-1" class="service-body-item">
                <h3>Вступ</h3>
                <p>Соколоподібну породу часто використовують при облаштуванні покрівельного і дорожнього покриття, як
                    будівельно-оздоблювального матеріалу і в інших цілях. Коли покриття зношується і його необхідно
                    замінити, утворюються бітумні відходи. Вони містять токсичні продукти - вуглеводні, а також
                    металізовані, сірчисті і азотисті сполуки. Відвозити бітум на полігони небезпечно, оскільки речовина
                    легко запалюється, може не тільки отруїти навколишнє середовище, але і стати причиною пожежі.
                    Позбутися від бітуму можливо без ризику і з користю. Для цього потрібно переробити залишки з
                    дотриманням регламенту, за допомогою спецобладнання. Профільні фірми регенерують бітум у вторинну
                    сировину, з якого виробляють новий будматеріал або добувають енергоресурси. На обов'язкову
                    утилізацію бітуму також вказують, якщо його ліквідувати зі збитком для природи, це загрожує
                    підприємству або приватній особі величезним штрафом.
                </p>
            </div>
            <div id="block-2" class="service-body-item">
                <h3>Особливості утилізації бітуму</h3>
                <p>Щоб переробити бітум, його необхідно транспортувати в пункт утилізації за допомогою спеціального
                    автотранспорту. Бітум, відходи не можна розчинити у воді, тому фахівці піддають матеріал термічній
                    обробці без доступу кисню. В результаті високотемпературної деструкції виходить витягти газоподібні
                    продукти, кокс і рідкі суміші.
                    Газ можна використовувати в якості палива, а кокс і рідкі склади - для отримання енергоресурсів і
                    для повторного виробництва продуктів нафтохімії. Утилізатори вибирають технології, які дозволяють
                    переробляти бітум ефективно і без найменшого забруднення навколишнього середовища. Залишки знищують
                    з дотриманням протипожежних норм і рекомендацій екологів.
                    Якщо бітумні відходи утилізують професіонали, це гарантує:
                </p>
                <br>
                <ul>
                    <li>розвантаження полігонів, їх захист від пожежі, токсикації і накопичення техногенного сміття;
                    </li>
                    <li>отримання якісного вторсировини для повторного виробництва - це дозволяє економити ресурси
                        природи, знижувати вартість палива і будматеріалів;
                    </li>
                    <li>відсутність адміністративного покарання або штрафних санкцій, передбачених за неправильний утиль
                        відходів виробництва і споживання;
                    </li>
                    <li>позбавлення від усіх турбот, пов'язаних з прибиранням та вивезенням смолоподобной матеріалів.
                    </li>
                </ul>
                <br>
                <p>Спеціалізовані фірми утилізують бітум, який був використаний в якості інженерно-будівельного
                    матеріалу, а також брак виробництва.</p>
            </div>
            <div id="block-3" class="service-body-item">
                <h3>Утилізувати бітуми Go-Eco Group</h3>
                <p>У парку нашої компанії є техніка для транспортування бітуму в будь-яких обсягах. Співробітники
                    приїжджають на об'єкт завжди своєчасно, забирають нефтесодержащие продукти тільки після підписання
                    договору.
                    Фахівці з «Go-Eco» пропонують співпрацю на вигідних для замовника умовах:
                    акти про утилізацію видаються обов'язково, вони мають юридичну силу, тому їх можна надавати органам
                    контролю.
                </p>
                <br>
                <p>На транспортування і переробку відходів бітуму встановлені цілком прийнятні тарифи.
                    Працівники забирають на обробку матеріали в будь-якому стані, процедура здійснюється точно в строк і
                    в зручний час.
                </p>
                <br>
                <p>Менеджери компанії «GO-ECO group» приймають заявки через онлайн-анкети, по електронній пошті і
                    телефоном. Замовлення обробляються миттєво. Утилізуємо бітум недорого і в мінімальні терміни!</p>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
