{% extends "base.html" %}


{% block content %}

<div class="service-wrapper">
    <div class="service-banner">
        <img src="../static/img/tank_cleaning_bg.jpg" alt="">
        <div class="service-banner-content">
            <h1>Услуга очистки емкостей и резервуаров</h1>
            <h2>Каждый час мы утилизируем 15000 кг отходов</h2>
            <a href="{{ url_for('order', item='Услуга очистки емкостей и резервуаров') }}">Заказать услугу</a>
        </div>
    </div>
    <div class="crumbs">
        <a href="/">Главная</a>
        <a href="">Услуга очистки емкостей и резервуаров</a>
    </div>
    <div class="service">
        <div class="service-tools">
            <ul class="service-tabs">
                <li><a href="#block-1">Экологическая ситуация в Украине</a></li>
                <li><a href="#block-2">Очистка емкостей и резервуаров</a></li>
                <li><a href="#block-3">Очистка емкостей от GO ECO GROUP</a></li>
            </ul>
            <div class="service-btns">
                <a href="{{ url_for('order', item='Услуга очистки емкостей и резервуаров') }}">Заказать услугу</a>
                <a href="/contacts">Контакты</a>
            </div>
        </div>
        <div class="service-body">
            <div id="block-1" class="service-body-item">
                <h3>Экологическая ситуация в Украине</h3>
                <p>Украину считают страной, которая находится в глубоком экологическом кризисе. Жители страдают от загрязненного воздуха, водоемов, почвы, кроме этого стремительно сокращаются представители животного и растительного мира. В экологических рейтингах Украина занимает 102 место из всех стран мира по уровню чистоты воздуха, воды и жизнеспособности экосистемы.</p>
                <br>
                <p>Промышленные предприятия развиваются экономическую сторону страны, но в то же время являются серьезными загрязнителями экологии. На законодательном уровне производства обязаны перерабатывать, утилизировать токсичные отходы и не допускать их попадания в окружающую среду.</p>
                <br>
                <p>GO ECO GROUP — компания, которая поможет вашему производству избавиться от любых видов отходов. Мы занимаемся сбором, транспортировкой и переработкой отходов любого масштаба.</p>
            </div>
            <div id="block-2" class="service-body-item">
                <h3>Очистка емкостей и резервуаров</h3>
                <p>Наша компания предоставляет услуги по утилизации:</p>
                <br>
                <ul>
                    <li>керосина,</li>
                    <li>битума,</li>
                    <li>смол,</li>
                    <li>бензина,</li>
                    <li>дизельного топлива,</li>
                    <li>мазута,</li>
                    <li>нефтешламов и других опасных отходов. </li>
                </ul>
                <br>
                <p>Кроме утилизации этих веществ промышленники сталкиваются с проблемой очистки емкостей из-под продуктов нефти. Очистка резервуаров от нефтепродуктов — важный, но технически сложный процесс, который производства доверяют специалистам. GO ECO GROUP проводит зачистку таких видов резервуаров:</p>
                <br>
                <ul>
                    <li>автомобильные цистерны, емкости из АЗС;</li>
                    <li>нефтяные танкеры;</li>
                    <li>вагоны-цистерны;</li>
                    <li>подземные и наземные резервуары.</li>
                </ul>
                <br>
                <p>Очистка происходит в мерах крайней безопасности, чтобы не повредить целостность резервуара. Мы экономим время разогрева и удаления основного объема нефтесодержащего остатка в десятки раз. Одно из главных преимуществ услуги — это взрывобезопасная система размыва и технологии в общем. При этом удаляется 99% отходов из резервуара. Есть 3 способа очистки: механический, ручной и химико-механизированный.</p>
                <br>
                <ol>
                    <li>Ручной способ. Во время этого процесса после удаления шламов резервуар нагревают, омывают струей горячей воды, а после воду откачивают насосом. Ручной метод может быть опасен для людей, которые его проводят, если не придерживаться правил безопасности.</li>
                    <li>Механический метод подразумевает подачу горячей воды в резервуар, его очистку и пропарку специальными приборами. Этот метод дешевле и безопаснее, потому что не рождает рисков для причинения вреда человеку и окружающей среды.</li>
                    <li>Химико-механизированный метод заключается в промывке емкостей химическими растворами и моющими средствами — это улучшает отделение отходов от дна и стенок резервуара.</li>
                </ol>
            </div>
            <div id="block-3" class="service-body-item">
                <h3>Очистка емкостей от GO ECO GROUP</h3>
                <p>Процесс очистки резервуаров от GO ECO GROUP выглядит так:</p>
                <br>
                <ol>
                    <li>Технология зачистки емкостей заключается в разогреве нефти или ее продуктов и размыве отходов специальными промывочными устройствами, установленными через технологические отверстия резервуара. Этот процесс называется дегазацией.</li>
                    <li>Отходы подаются насосом в теплообменник, где нагреваются и поступают под давлением на распределительную станцию.</li>
                    <li>Через шланги они направляются к промывочным устройствам. Соответственно из-за многоразовой рециркуляции происходит размыв осадка и растворение нефти. Для предотвращения выпадения осадка мы используем химические реагенты.</li>
                    <li>Последняя стадия — сушка резервуаров с помощью вентиляционной системы.</li>
                    <li>После этого специалисты тщательно осматривают резервуар и после предоставляют документы о зачистки емкости.</li>
                </ol>
                <br>
                <p>Если вы работаете с нефтепродуктами, кислотами, щелочами — контейнеры и резервуары требуют очистки. Эта процедура обязательная по технике безопасности, поэтому доверять ее нужно только профессионалам. Очистку следует выполнять регулярно, в соответствии к правилам хранения и использования емкостей. Команда экологов GO ECO GROUP выполняет работы по очистке нефтяных резервуаров и шламонакопителей. Мы стремимся к абсолютной чистоте емкостей для нефтепродуктов.</p>
                <br>
                <p>Обращаясь к нам, вы снимаете с себя груз ответственности за утилизацию любых видов отходов, а с услугой «Очистки резервуаров» — за чистоту и порядок на предприятии. Все, что вам нужно сейчас —
                    <a href="/order">оставить заявку</a> на сайте. </p>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
