{% extends "base.html" %}


{% block content %}

<div class="service-wrapper">
    <div class="service-banner">
        <img src="../static/img/tank_cleaning_bg.jpg" alt="">
        <div class="service-banner-content">
            <h1>Зачистка ємностей</h1>
            <h2>Щогодини ми утилізуємо 15000 кг відходів</h2>
            <a href="{{ url_for('order', item='Зачистка ємностей') }}">Замовити послугу</a>
        </div>
    </div>
    <div class="crumbs">
        <a href="/">Головна</a>
        <a href="">Зачистка ємностей</a>
    </div>
    <div class="service">
        <div class="service-tools">
            <ul class="service-tabs">
                <li><a href="#block-1">Зачистка ємностей</a></li>
                <li><a href="#block-2">Надійний «очисник» резервуарів</a></li>
            </ul>
            <div class="service-btns">
                <a href="{{ url_for('order', item='Зачистка ємностей') }}">Замовити послугу</a>
                <a href="/contacts">Контакти</a>
            </div>
        </div>
        <div class="service-body">
            <div id="block-1" class="service-body-item">
                <h3>Зачистка ємностей</h3>
                <p>Видалення залишків нафтопродуктів потребує кілька типів технологій проведення робіт в залежності від
                    ємностей та типу речовини. Перед видаленням, шляхом нагрівання нафтопродуктів, проводиться
                    розм'якшення і доведення їх до рідкого стану. Для виконання даної операції застосовується кілька
                    високотехнологічних методів: робота проводиться з використанням пару або підігрітої води. При цьому
                    способі в резервуар закачують теплоносій (температура близько 90 С°). Потім за допомогою насосів
                    проводять циркуляцію речовини з паралельним розігрівом в теплообміннику протягом 15 годин.
                    Гідромонітори створюють великий тиск у розігрітій воді та струменем видаляється з днища і стінок
                    резервуара речовина, з паралельним відкачуванням речовини у місце тимчасового зберігання. Тут слід
                    зазначити, що проводити роботи зі світлими нафтопродуктами легше. Залишок даного виду відходів має
                    здатність підніматись вгору, що значно полегшує процес викачування.
                </p>
            </div>
            <div id="block-2" class="service-body-item">
                <h3>Надійний «очисник» резервуарів</h3>
                <p>Ми здійснили незначний опис робіт, пов’язаних із зачисткою резервуарів, які впродовж декількох років
                    успішно здійснюємо для замовників такої послуги.
                    Компанія <b>«НВП ЕКО ОІЛ»</b> - надійний «очисник» резервуарів від залишків нафтопродуктів.
                </p>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
