{% extends "base.html" %}


{% block content %}

<div class="service-wrapper">
    <div class="service-banner">
        <img src="../static/img/kerosene_bg.jpg" alt="">
        <div class="service-banner-content">
            <h1>Утилизация керосина</h1>
            <h2>Каждый час мы утилизируем 15000 кг отходов</h2>
            <a href="{{ url_for('order', item='Утилизация керосина') }}">Заказать услугу</a>
        </div>
    </div>
    <div class="crumbs">
        <a href="/">Главная</a>
        <a href="">Утилизация керосина</a>
    </div>
    <div class="service">
        <div class="service-tools">
            <ul class="service-tabs">
                <li><a href="#block-1">Введение</a></li>
                <li><a href="#block-2">Определение керосина</a></li>
                <li><a href="#block-3">Чем опасен керосин</a></li>
                <li><a href="#block-4">Утилизация опасных отходов</a></li>
                <li><a href="#block-5">Утилизация с «НВП ЕКО ОІЛ»</a></li>
            </ul>
            <div class="service-btns">
                <a href="{{ url_for('order', item='Утилизация керосина') }}">Заказать услугу</a>
                <a href="/contacts">Контакты</a>
            </div>
        </div>
        <div class="service-body">
            <div id="block-1" class="service-body-item">
                <h3>Введение</h3>
                <p>Керосин берет свою историю еще с середины XIX века, когда он пришел на смену всевозможным жирам, которые использовали для освещения, обогрева домов и помещений. Спустя время его не стали использовать меньше. Сегодня это вещество в больших количествах используют различные производства, после чего нуждаются в его утилизации и переработке. Компания «НВП ЕКО ОІЛ» предоставляет весь спектр услуг по сбору, транспортировке и утилизации опасных отходов.</p>
            </div>
            <div id="block-2" class="service-body-item">
                <h3>Определение керосина</h3>
                <p>Керосин — это маслянистая жидкость желтого или прозрачного цвета. Он получается путем переработки нефти или ее ректификации. Он бывает техническим, ракетным, авиационным и осветительным. Его применяют как:</p>
                <br>
                <ul>
                    <li>реактивное топливо для самолетов и ракет;</li>
                    <li>топливо для газотурбинных двигателей;</li>
                    <li>горючее для обжига фарфоровых и стеклянных изделий, бытовой техники (керосиновые лампы, в качестве промывки, обезжиривателя и растворителя).</li>
                </ul>
                <br>
                <p>Керосин широко используется не только в промышленности, но и в быту. Например, в домашних мастерских, для дезинфекции, удаления ржавчины, как средство очистки и смывки. Однако это вещество относят к разряду опасных, тех, которые могут нанести вред человеку и природе.</p>
            </div>
            <div id="block-3" class="service-body-item">
                <h3>Чем опасен керосин</h3>
                <p>При низких температурах керосин не выделяет токсичных паров, поэтому случаи отравления крайне редки. Но при концентрации более 0,3 мг/л человек, вдыхая токсичные пары, чувствует слабость, быструю утомляемость, сонливость, головные боли и другие неприятные симптомы. При попадании на кожу вызывает, ожоги, дерматиты, экземы и различные заболевания эпидермиса.</p>
                <br>
                <p>Как и любой нефтепродукт, керосин опасен для экологии. Для его хранения производства используют герметичные емкости и оборудования, которые предотвращают попадание вещества в почву, водоемы или канализацию. Почву, в которую попадает керосин, утилизируют, а пораженное место засыпают свежим слоем грунта. Хранят керосин подальше от любых источников огня, искр и горючих веществ.</p>
            </div>
            <div id="block-4" class="service-body-item">
                <h3>Утилизация опасных отходов</h3>
                <p>Надежный и распространенный метод утилизации керосина — термический. Однако при сжигании жидкость выделяет опасные токсические соединения. Поэтому для термической переработки керосин транспортируют в специально оборудованные помещения, где находятся печи и вентиляционные системы. В местах с повышенной концентрацией паров утилизаторы должны применять фильтрующие противогазы, использовать индивидуальную защиту. Работа с открытым огнем в таких помещениях запрещена. Непереработанные отходы используют также как вторсырье, для производства строительных материалов и так далее.</p>
            </div>
            <div id="block-5" class="service-body-item">
                <h3>Утилизация с «НВП ЕКО ОІЛ»</h3>
                <p>Один из наших приоритетов — правильная утилизация отходов в полном соответствии к требованиям Украинского законодательства и качественный сервис для наших клиентов. Когда мы берем ответственность за переработку отходов, клиенты «НВП ЕКО ОІЛ» освобождаются от рисков штрафов и любых видов наказания за несвоевременную утилизацию опасных веществ.</p>
                <br>
                <p>Мы собрали команду из опытных экологов, которые готовы помочь любому предприятию по всем вопросам сбора, транспортировки и ликвидации токсичных отходов. Если ваше производство вырабатывает нефтесодержащие отходы — закажите услугу утилизации от компании «НВП ЕКО ОІЛ». Звоните по
                    <a href="/contacts">телефону</a> или
                    <a href="/order">оставляйте заявку</a> онлайн на сайте.</p>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
