{% extends "base.html" %}


{% block content %}

<div class="service-wrapper">
    <div class="service-banner">
        <img src="../static/img/fuel_oil_bg.jpg" alt="">
        <div class="service-banner-content">
            <h1>Утилізація мазуту</h1>
            <h2>Щогодини ми утилізуємо 15000 кг відходів</h2>
            <a href="{{ url_for('order', item='Утилізація мазуту') }}">Замовити послугу</a>
        </div>
    </div>
    <div class="crumbs">
        <a href="/">Головна</a>
        <a href="">Утилізація мазуту</a>
    </div>
    <div class="service">
        <div class="service-tools">
            <ul class="service-tabs">
                <li><a href="#block-1">Утилізація мазуту</a></li>
                <li><a href="#block-2">Чому слід утилізовувати мазут?</a></li>
                <li><a href="#block-3">Як утилізують мазуту</a></li>
            </ul>
            <div class="service-btns">
                <a href="{{ url_for('order', item='Утилізація мазуту') }}">Замовити послугу</a>
                <a href="/contacts">Контакти</a>
            </div>
        </div>
        <div class="service-body">
            <div id="block-1" class="service-body-item">
                <h3>Утилізація мазуту</h3>
                <p>Ця рідка суміш утворюється внаслідок переробки нафти і нафтопродуктів. З метою уникнення забруднення
                    навколишнього середовища непридатні для застосування нафтові відходи слід вчасно утилізувати.</p>
            </div>
            <div id="block-2" class="service-body-item">
                <h3>Чому слід утилізовувати мазут?</h3>
                <p>Відповідно до положень <a href="https://zakon.rada.gov.ua/laws/show/927-2013-%D0%BF" target="_blank">постанови
                    Кабінету Міністрів України від 1 серпня 2013 р. № 927</a> «Про затвердження Технічного регламенту
                    щодо вимог до автомобільних бензинів, дизельного, суднових та котельних палив», встановлюються вимоги до
                    автомобільних бензинів, дизельного, суднових та котельних палив, що виробляються, вводяться в обіг
                    та реалізуються на території України, з метою захисту життя та здоров’я людини, тварин, рослин,
                    національної безпеки, охорони навколишнього середовища та природних ресурсів. Постановою
                    встановлюється положення, відповідно до якого з 1 січня 2017 р. забороняється виробництво і введення
                    в обіг котельних палив (мазутів) із вмістом сірки більше ніж 1 відсоток масовий.</p>
                <br>
                <p>Досить часто некондиційний мазут зберігається в спеціальних накопичувальних резервуарах. Через
                    механічні пошкодження або знос ємностей мазут може потрапити в навколишнє природнє середовище і
                    таким чином нанести значного негативного впливу. Зберігання цього виду палива завжди пов'язане з
                    великими екологічними ризиками. Нафтові відходи під час згорання є токсичними для живих організмів.
                    Вода з вмістом мазута забруднює ґрунт небезпечними хімічними елементами. Тому правильна переробка та
                    утилізація мазуту вкрай важлива для збереження екології.</p>
            </div>
            <div id="block-3" class="service-body-item">
                <h3>Способи утилізації мазуту компанією</h3>
                <p>На сьогоднішній день ми застосовуємо наступні способи знешкодження та утилізації нафтових
                    відходів:</p>
                <br>
                <ol>
                    <li>Зневоднення мазуту на спеціальних установках з подальшою переробкою.</li>
                    <li>Захоронення відходів на спеціально захищених і обладнаних полігонах</li>
                    <li>Процес термічної переробки, що призводить до розкладання всіх речовин, що знаходяться в складі
                        мазуту.
                    </li>
                    <li>Ультразвукова обробка рідкої складової мазуту.</li>
                    <li>Хіміко-фізичний метод, що розділяє мазут на фракції, придатні для подальшого застосування.</li>
                </ol>
                <br>
                <p>Кожен з цих методів має свої нюанси та певні ризики. Завдяки своєму досвіду, наша компанія
                    компетентно виконає роботи з утилізації такого виду відходу (мазуту).<br>
                    <b>«НВП ЕКО ОІЛ»</b> - соціально відповідальна компанія з достатнім 20-тирічним досвідом діяльності.
                </p>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
