{% extends "base.html" %}


{% block content %}

<div class="service-wrapper">
    <div class="service-banner">
        <img src="../static/img/oil_products.jpeg" alt="">
        <div class="service-banner-content">
            <h1>Утилізація нафтопродуктів</h1>
            <h2>Щогодини ми утилізуємо 15000 кг відходів</h2>
            <a href="{{ url_for('order', item='Утилізація нафтопродуктів') }}">Замовити послугу</a>
        </div>
    </div>
    <div class="crumbs">
        <a href="/">Головна</a>
        <a href="">Утилізація нафтопродуктів</a>
    </div>
    <div class="service">
        <div class="service-tools">
            <ul class="service-tabs">
                <li><a href="#block-1">Утилізація нафтопродуктів</a></li>
                <li><a href="#block-2">Поняття нафтопродуктів</a></li>
                <li><a href="#block-3">Чим небезпечні продукти нафти</a></li>
                <li><a href="#block-4">Переваги роботи з нами</a></li>
            </ul>
            <div class="service-btns">
                <a href="{{ url_for('order', item='Утилізація нафтопродуктів') }}">Замовити послугу</a>
                <a href="/contacts">Контакти</a>
            </div>
        </div>
        <div class="service-body">
            <div id="block-1" class="service-body-item">
                <h3>Утилізація нафтопродуктів</h3>
                <p>Конфлікт людини і природи досягає критичної точки і загрожує існуванню всього живого на планеті.
                    Екологічні проблеми з кожним роком стають все більш актуальними для людства. Використання викопного
                    палива, вирубування лісів і промислові виробництва - лише одна сторона проблеми. Інша, що вимагає не
                    меншої уваги, - переробка небезпечних відходів, які забруднюють і руйнують навколишнє середовище.
                    Наприклад, утилізація нафтопродуктів.</p>
                <br>
            </div>
            <div id="block-2" class="service-body-item">
                <h3>Поняття нафтопродуктів</h3>
                <p>Після використання і переробки копалин, вони перетворюються в небезпечні відходи, які необхідно
                    утилізувати. Це суміш вуглеводнів і хімічних елементів, таких як пісок, глина, важкі метали,
                    отриманих в процесі перегонки нафти.</p>
                <br>
                <p>Нафтопродукти - це бензин, різні види палива, бітум, гудрон, розчинники, смоли, оливи, тобто сировина
                    нафтохімічного синтезу. Їх використовують на нафтових виробництвах, в хімічній промисловості, в
                    машинобудуванні, в авто-, судно- і авіабудуванні, на теплоелектростанціях, в металургії.</p>
            </div>
            <div id="block-3" class="service-body-item">
                <h3>Чим небезпечні продукти нафти</h3>
                <p>Нафта і її похідні продукти вважаються отруйними речовинами різного ступеня небезпеки. Вони токсичні,
                    випаровуються, виділяючи небезпечні сполуки, легко спалахують, можуть призвести до вибухів і
                    надзвичайних ситуацій на виробництвах. Якщо їх не утилізувати, вони шкодять навколишньому
                    середовищу: виділяють токсичні пари, можуть потрапити у водойми і грунту, завдаючи величезної шкоди
                    природі.</p>
                <br>
                <p>Незалежно від того, яка кількість нафти потрапила в ґрунт або водойми, це завжди завдає колосального
                    збитку екології. Найстрашніше, що уражені ділянки залишаються млявими десятки років. Витік нафти і
                    її продуктів може стати причиною смерті для птахів, тварин, риб і рослин.</p>
                <br>
                <p>Вдихання випарів нафтопродуктів для людини вкрай небезпечно. Речовини, які містяться в цих парах,
                    вражають центральну нервову систему, підвищують тиск і викликають тахікардію. При попаданні нафти на
                    шкіру з'являється сухість, пігментація, утворюються вугри.</p>
            </div>
            <div id="block-4" class="service-body-item">
                <h3>Переваги роботи з нами</h3>
                <p>Збір, транспортування і ліквідація цих речовин - складний і небезпечний процес, який проводиться за
                    строго встановленими правилами українського законодавства. Їх складна структура дозволяє виокремити
                    з нафтопродуктів вуглеводень, воду та інші хімічні домішки. <b>GO ECO GROUP</b> пропонує утилізацію
                    нафтопродуктів шляхом термічної обробки (спалювання без кисню, спалювання в печах, піроліз).</p>
                <br>
                <p><b>GO ECO GROUP</b> - це команда професіоналів, яких об'єднує одна спільна мета: екологічна безпека
                    України і допомога виробництвам відповідним чином утилізувати небезпечні відходи.</p>
                <br>
                <p>Звертаючись до <b>GO ECO GROUP</b>, наші замовники отримують безпечну і якісну переробку будь-яких
                    видів
                    токсичних відходів. Ми розраховуємо вартість послуг індивідуально для кожного проекту, окремо
                    виділяючи витрати на збір і транспортування. Співпрацюючи з нами, ви звільняєте себе від
                    відповідальності і передаєте утилізацію відходів фахівцям.</p>
                <br>
                <p>Замовте послугу «утилізація нафтопродуктів» від компанії <b>GO ECO GROUP</b>. Телефонуйте за номером, або
                    залишайте заявку онлайн на сайті.</p>

            </div>

        </div>
    </div>
</div>


{% endblock content %}
