{% extends "base.html" %}


{% block content %}

<div class="service-wrapper">
    <div class="service-banner">
        <img src="../static/img/oil_waste.jpg" alt="">
        <div class="service-banner-content">
            <h1>Утилізація нафтових відходів</h1>
            <h2>Щогодини ми утилізуємо 15000 кг відходів</h2>
            <a href="{{ url_for('order', item='Утилізація нафтових відходів') }}">Замовити послугу</a>
        </div>
    </div>
    <div class="crumbs">
        <a href="/">Головна</a>
        <a href="">Утилізація нафтових відходів</a>
    </div>
    <div class="service">
        <div class="service-tools">
            <ul class="service-tabs">
                <li><a href="#block-1">Утилізація нафтових відходів</a></li>
                <li><a href="#block-2">Економія фінансів</a></li>
            </ul>
            <div class="service-btns">
                <a href="{{ url_for('order', item='Утилізація нафтових відходів') }}">Замовити послугу</a>
                <a href="/contacts">Контакти</a>
            </div>
        </div>
        <div class="service-body">
            <div id="block-1" class="service-body-item">
                <h3>Утилізація нафтових відходів</h3>
                <p>Відходи нафтопродуктів, які утворюються на нафтовидобувних, газовидобувних, нафтопереробних
                    підприємствах зберігаються в озерах під відкритим небом та в великих обсягах потрапляють в грунт, що
                    призводить до незворотніх збитків еко-системі. Налагодження ефективної і вигідної системи утилізації
                    відходів нафтопродуктів дозволить вирішити цю проблему.</p>
            </div>
            <div id="block-2" class="service-body-item">
                <h3>Економія фінансів</h3>
                <p>Ті підприємства, які звертаються до компетентного підприємства з утилізації (такі, як <b>GO-ECO
                    GROUP</b>)
                    на рахунок передачі відходів нафтопродуктів на переробку, як показує практика, заощаджують у
                    подальшому кошти, що спрямовуються на оплату витрат, пов’язаних з утилізацією таких відходів за
                    власний рахунок.</p>
                <br>
                <p>Відповідно до чинного законодавства, а саме Закону України «Про відходи» із змінами від 14.01.2020
                    року, підприємства, установи, організації та громадяни України, а також іноземці та особи без
                    громадянства, іноземні юридичні особи зобов'язані відшкодувати шкоду, заподіяну ними внаслідок
                    порушення законодавства про відходи, в порядку і розмірах, встановлених законодавством України.</p>
                <br>
                <p>Усі небезпечні відходи за ступенем їх шкідливого впливу на навколишнє природне середовище та на життя
                    і здоров'я людини поділяються на чотири класи. Відходи нафтопродуктів відносяться до III - IV класу
                    небезпеки і підлягають утилізації в суворій відповідності до встановлених положень регламентів та
                    Закону України «Про відходи». Зокрема, їх утилізацією можуть займатися тільки ті компанії, що
                    отримали ліцензії на відповідний вид діяльності, в наявності яких є потужності з утилізації. Навіть
                    перевезення відходів нафтопродуктів чітко регламентовано: перевезення небезпечних відходів
                    дозволяється лише за наявності їх паспорта та ліцензії на поводження з ними і в порядку, визначеному
                    законодавством про перевезення небезпечних вантажів; має здійснюватися спеціально обладнаними
                    транспортними засобами.</p>
                <br>
                <p>Підприємствам, які мають відходи, забруднені нафтопродуктами або відходи нафтопродуктів, необхідно
                    звернутися в утилізуючу компанію <b>GO-ECO GROUP</b>. Ми спеціалізуємося на утилізації відходів
                    нафтопродуктів і нафтошламів, а також утилізації мазуту, вміст сірки якого перевищує 1%.
                    <b>GO-ECO GROUP</b> швидко та кваліфіковано виконує роботи з утилізації відходів нафтопродуктів в
                    будь-якому обсязі. Комплекс робіт з утилізації включає:
                </p>
                <br>
                <ul>
                    <li>Підготовку документації для підприємств.</li>
                    <li>Вивіз відходів на спецтранспорті.</li>
                    <li>Сортування, зберігання відходів.</li>
                </ul>
                <br>
                <p>Дізнатися вартість утилізації нафтошламу (ціна за тонну) та інших нафтопродуктів можна за телефоном
                    або залишивши заявку. Звертайтеся, ми гарантуємо високу швидкість і якість виконання робіт.</p>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
