{% extends "base.html" %}


{% block content %}

<div class="service-wrapper">
    <div class="service-banner">
        <img src="../static/img/petrol_bg.jpg" alt="">
        <div class="service-banner-content">
            <h1>Утилизация бензина</h1>
            <h2>Каждый час мы утилизируем 15000 кг отходов</h2>
            <a href="{{ url_for('order', item='Утилизация бензина') }}">Заказать услугу</a>
        </div>
    </div>
    <div class="crumbs">
        <a href="/">Главная</a>
        <a href="">Утилизация бензина</a>
    </div>
    <div class="service">
        <div class="service-tools">
            <ul class="service-tabs">
                <li><a href="#block-1">Введение</a></li>
                <li><a href="#block-2">Риски при работе с бензином</a></li>
                <li><a href="#block-3">Методики ликвидации топлива</a></li>
                <li><a href="#block-4">Утилизация от GO ECO GROUP</a></li>
            </ul>
            <div class="service-btns">
                <a href="{{ url_for('order', item='Утилизация бензина') }}">Заказать услугу</a>
                <a href="/contacts">Контакты</a>
            </div>
        </div>
        <div class="service-body">
            <div id="block-1" class="service-body-item">
                <h3>Введение</h3>
                <p>Бензин — продукт переработки нефти, который используется в качестве топлива для двигателей внутреннего сгорания. Вещество легко воспламеняется, чем создает пожарную опасность. Не всегда топливо расходуется полностью и предприятия серьезно подходят к вопросу его утилизации. Компания GO ECO GROUP занимается ликвидацией, перевозкой и переработкой бензина с соблюдением всех правил безопасности.</p>
            </div>
            <div id="block-2" class="service-body-item">
                <h3>Риски при работе с бензином</h3>
                <p>Топливо популярно у водителей, ведь большинство машин работают на этом горючем. Вещество получают путем переработки нефти, оно жидкое и быстро воспламеняется. В целях безопасности строго запрещено:</p>
                <br>
                <ol>
                    <li>Хранить топливо возле источников тепла, под воздействием прямых солнечных лучей, так как это может спровоцировать взрыв.</li>
                    <br>
                    <li>Утилизировать бензин в грунт — это приведет к отравлению грунтовых вод и уничтожит всю растительность.</li>
                    <br>
                    <li>Выливать вещество в водоемы, моря, реки, ведь пострадают обитатели водных просторов.</li>
                    <br>
                    <li>Курить, пользоваться предметами, которые искрят около канистр и других емкостей с бензином — это взрыво- и пожароопасно.</li>
                    <br>
                    <li>Слив нефтепродукта в стоки — питьевая вода отравляется токсинами и становится непригодной для питья.</li>
                </ol>
                <br>
                <p>Для утилизации у компании должна быть специальная лицензия, которая выступает гарантом безопасной ликвидации. Риск навредить здоровью несут также пары горючего, они весьма токсичны и при вдыхании могут вызвать отравление организма, симптомами которого выступают:</p>
                <br>
                <ul>
                    <li>головокружение;</li>
                    <li>тошнота;</li>
                    <li>кашель;</li>
                    <li>низкая температура тела;</li>
                    <li>болевые ощущения в пищеводе.</li>
                </ul>
                <br>
                <p>При отравлении токсинами нужно немедленно вызвать скорую помощь. Лучше доверить утилизацию опасного продукта специалистам, чтобы обезопасить себя, окружающую среду и людей от несчастных случаев. Помните, что разлив бензина в грунт и воду — необратимая катастрофа для экологии нашей планеты.</p>
            </div>
            <div id="block-3" class="service-body-item">
                <h3>Методики ликвидации топлива</h3>
                <p>Существует несколько способов безопасно утилизировать горючее:</p>
                <br>
                <ol>
                    <li>Отделение воды и нефтепродуктов механическим путем.</li>
                    <br>
                    <li>Биологический — растворить топливо на углекислый газ и воду.</li>
                    <br>
                    <li>Использование растворителя для расщепления вещества.</li>
                    <br>
                    <li>Термический способ — переработка топлива в топливо для печей или товарную нефть.</li>
                </ol>
                <br>
                <p>В любом из вышеперечисленных методов нужно следовать правилам безопасности и выполнять специальные требования. Во избежание чрезвычайных ситуаций, выбросов токсинов в атмосферу, грунты и воды запрещено самостоятельно сжигать или выливать бензин, гораздо экологичнее избавятся от топлива специальные компании.</p>
            </div>
            <div id="block-4" class="service-body-item">
                <h3>Почему выбирают GO ECO GROUP</h3>
                <p>Запасы нефти быстро улетучиваются, а потребность в ней не падает. Экологи призывают к переработке и вторичном использовании сырья, дабы защитить окружающую среду. GO ECO GROUP лидер в Украине по переработке и уничтожении нефтепродуктов, это доказывают лицензии и сертификаты. Выбирая нас, вы защищаете природу от вредных токсинов и истощения запасов драгоценной нефти.</p>
                <br>
                <p>Если вы приобрели некачественный продукт, его все равно нужно уничтожать правильно. Утилизация взрыво- и пожароопасных веществ должна происходить в специальных учреждениях. Специалисты компании GO ECO GROUP ответственно подходят к переработке и уничтожению бензина. Мы учтем способ транспортировки, хранения и остальные пункты, необходимые для безопасной ликвидации топлива.</p>
                <br>
                <p>Заказать услугу можно на <a href="/order">сайте</a> или позвонить по <a href="/contacts">телефону</a> и оставить заявку. Мы рассчитаем полную стоимость транспортировки, хранения, уничтожения или переработки бензина. Доверьте нам утилизацию такого опасного продукта и природа скажет вам «Спасибо»!</p>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
