{% extends "base.html" %}


{% block content %}

<div class="service-wrapper">
    <div class="service-banner">
        <img src="../static/img/condensate_bg.jpg" alt="">
        <h1>Утилизация конденсата</h1>
        <h2>Каждый час мы безопасно утилизируем 100 000 тонн отходов</h2>
        <a href="">Заказать услугу</a>
    </div>
    <div class="crumbs">
        <a href="/">Главная</a>
        <a href="">Утилизация конденсата</a>
    </div>
    <div class="service">
        <div class="service-tools">
            <ul class="service-tabs">
                <li><a href="">Конденсат: определение и виды</a></li>
                <li><a href="">Чем опасен конденсат? </a></li>
                <li><a href="">Важность утилизации</a></li>
                <li><a href="">Утилизация от GO ECO GOUP</a></li>
            </ul>
            <div class="service-btns">
                <a href="">Заказать услугу</a>
                <a href="/contacts">Контакты</a>
            </div>
        </div>
        <div class="service-body">
            <div class="service-body-item">
                <h3>Конденсат: определение и виды</h3>
                <p>Газовый конденсат — это жидкая смесь высококипящих углеводородов 
                    (от 150 градусов и выше) различного строения, выделяемые из природных 
                    газов при их добыче. Он почти бесцветный или иногда может иметь очень слабую окраску. 
                    Из него получают бензин, дизельное, котельное, реактивное топливо и даже пластмассу.</p>
                <p>Любой конденсат получается после перехода газообразного вещества в жидкое. 
                    Например, так образуются атмосферные осадки в виде дождя. Это водный конденсат влаги, 
                    которая испарилась с поверхности почвы. Газовый же конденсат выделяется из пластового газа, 
                    который добывают из земли во время бурения скважин. Он содержит до 20% метана, бутана, этана и пропана.</p>
            </div>

        </div>
    </div>
</div>


{% endblock content %}
