{% extends "base.html" %}


{% block content %}

<div class="service-wrapper">
    <div class="service-banner">
        <img src="../static/img/tar_bg.jpg" alt="">
        <div class="service-banner-content">
            <h1>Утилизация гудрона</h1>
            <h2>Каждый час мы утилизируем 15000 кг отходов</h2>
            <a href="{{ url_for('order', item='Утилизация гудрона') }}">Заказать услугу</a>
        </div>
    </div>
    <div class="crumbs">
        <a href="/">Главная</a>
        <a href="">Утилизация гудрона</a>
    </div>
    <div class="service">
        <div class="service-tools">
            <ul class="service-tabs">
                <li><a href="#block-1">Введение</a></li>
                <li><a href="#block-2">Понятие гудрона</a></li>
                <li><a href="#block-3">Вред прудов-накопителей</a></li>
                <li><a href="#block-4">Утилизация гудрона</a></li>
                <li><a href="#block-5">Преимущества работы с GO ECO GROUP</a></li>
            </ul>
            <div class="service-btns">
                <a href="{{ url_for('order', item='Утилизация гудрона') }}">Заказать услугу</a>
                <a href="/contacts">Контакты</a>
            </div>
        </div>
        <div class="service-body">
            <div id="block-1" class="service-body-item">
                <h3>Введение</h3>
                <p>Нефтеперерабатывающие производства и их выбросы в атмосферу, слив опасных веществ в почву и водоемы наносят невероятный вред окружающей среде. На этих предприятиях активно используют такие реагенты, как серная кислота и олеум, из-за которых образовываются токсичные отходы. Например, кислые гудроны. Справиться с утилизацией поможет компания GO ECO GROUP.</p>
            </div>
            <div id="block-2" class="service-body-item">
                <h3>Понятие гудрона</h3>
                <p>Остаток, который образуется в процессе переработки нефти при атмосферном давлении, называют гудроном, а в народе — дёгтем. Это высоковязкая жидкость черного цвета с содержанием смолы, углеводородов и асфальтенов. Гудрон — это концентрация тяжелых металлов, которые есть в нефти. Его используют в химической, нефтеперерабатывающей и нефтехимической промышленности, как строительный материал для дорожных и кровельных работ.</p>
            </div>
            <div id="block-3" class="service-body-item">
                <h3>Вред прудов-накопителей</h3>
                <p>Одна из самых острых проблем, связанных с гудронами — это их места хранения. Если гудроны не используют, их складируют в заводских прудах-накопителях, которые занимают огромные площади. Кроме гудрона, туда складируют другие опасные вещества: ртуть, свинец, радиоактивные отходы. Такое хранение причиняет вред окружающей среде: из-за окислительно-восстановительного процесса в атмосферу попадает диоксид серы, который загрязняет воздух и вредит животному и растительному мирам.</p>
                <br>
                <p>Пруды с отходами гудронов разделяются на 3 слоя:</p>
                <br>
                <ol>
                    <li>верхний — слабокислые нерастворимые в воде соединения;</li>
                    <li>средний — содержащие серную кислоту эмульгированные органические соединения;</li>
                    <li>нижний — кислый гудрон.</li>
                </ol>
                <br>
                <p>Пруды-накопители появились еще в начале XX века в Европе. Самая большая территория с такими прудами находилась в Бельгии, до момента, когда в 2004 году, правительство страны решило утилизировать отходы. Гудрон переработали методом отверждения и полученный продукт поместили в специальные ячейки. После этого работа не заканчилась: следовало утилизировать землю на территории накопителя и грунтовые воды поблизости.</p>
            </div>
            <div id="block-4" class="service-body-item">
                <h3>Утилизация гудрона</h3>
                <p>Основной способ переработки гудрона — высокотемпературное расщепление. Органическая часть гудрона сжигается при температуре 810-1200 градусов по Цельсию. Этим методом получают стандартную серную кислоту. Кислый гудрон утилизируют амиаком, чтобы получить вещества, которые используют при нефтедобыче. Гудрон также утилизируют с помощью шлама и получают компоненты для котельного топлива.</p>
            </div>
            <div id="block-5" class="service-body-item">
                <h3>Преимущества работы с GO ECO GROUP</h3>
                <p>Компания GO ECO GROUP работает индивидуально с каждым клиентом. Мы подбираем наиболее рациональный способ транспортировки и утилизации, вместе с вами рассчитываем стоимость проекта, учитывая все детали.</p>
                <br>
                <p>GO ECO GROUP обладает всеми необходимыми документами и разрешениями для сбора, транспортировки и ликвидации опасных отходов. Наши сотрудники — это команда специалистов-экологов. Они предоставляют все отчеты о проделанной работе, поэтому вы всегда будете в курсе, что происходит в процессе утилизации.</p>
                <br>
                <p>Обращаясь к GO ECO GROUP, вы сохраняете грунты, воздух, животных, воды и здоровье украинцев. Закажите услугу «Утилизация гудронов и кислых гудронов» от компании GO ECO GROUP. Звоните по
                    <a href="/contacts">телефону</a> или <a href="/order">оставляйте заявку</a> онлайн на сайте. </p>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
