{% extends "base.html" %}


{% block content %}

<div class="service-wrapper">
    <div class="service-banner">
        <img src="../static/img/condensate_bg.jpg" alt="">
        <div class="service-banner-content">
            <h1>Утилизация конденсата</h1>
            <h2>Каждый час мы утилизируем 15000 кг отходов</h2>
            <a href="{{ url_for('order', item='Утилизация конденсата') }}">Заказать услугу</a>
        </div>
    </div>
    <div class="crumbs">
        <a href="/">Главная</a>
        <a href="">Утилизация конденсата</a>
    </div>
    <div class="service">
        <div class="service-tools">
            <ul class="service-tabs">
                <li><a href="#block-1">Конденсат: определение и виды</a></li>
                <li><a href="#block-2">Чем опасен конденсат? </a></li>
                <li><a href="#block-3">Важность утилизации</a></li>
                <li><a href="#block-4">Утилизация от GO ECO GOUP</a></li>
            </ul>
            <div class="service-btns">
                <a href="{{ url_for('order', item='Утилизация конденсата') }}">Заказать услугу</a>
                <a href="/contacts">Контакты</a>
            </div>
        </div>
        <div class="service-body">
            <div id="block-1" class="service-body-item">
                <h3>Конденсат: определение и виды</h3>
                <p>Газовый конденсат — это жидкая смесь высококипящих углеводородов
                    (от 150 градусов и выше) различного строения, выделяемые из природных
                    газов при их добыче. Он почти бесцветный или иногда может иметь очень слабую окраску.
                    Из него получают бензин, дизельное, котельное, реактивное топливо и даже пластмассу.
                    <br>
                    <br>
                    Любой конденсат получается после перехода газообразного вещества в жидкое.
                    Например, так образуются атмосферные осадки в виде дождя. Это водный конденсат влаги,
                    которая испарилась с поверхности почвы. Газовый же конденсат выделяется из пластового газа,
                    который добывают из земли во время бурения скважин. Он содержит до 20% метана, бутана, этана и пропана.</p>
            </div>
            <div id="block-2" class="service-body-item">
                <h3>Чем опасен конденсат?</h3>
                <p>Газоконденсат считается вредным веществом для здоровья человека и окружающей среды. По уровню опасности и допустимому уровню паров в воздухе он сравним с метаном. Из-за своей низкой плотности эти пары низко оседают и таким образом снижают содержание кислорода. Результат таких паров для человека — удушение. При вдыхании паров может возникнуть головная боль, тошнота, головокружение и рвота. Пагубно газоконденсат влияет, например, на кожу и слизистые оболочки. Он вызывает экзему, дерматиты, чрезмерную сухость и так далее. Если конденсат попал на открытые участки тела, его нужно немедленно смыть водой и мылом.
                    <br>
                    <br>
                    Нефтесодержащие отходы содержат в себе большой спектр тяжелых металлов, которые являются загрязнителями окружающей среды. Газоконденсат — это токсичное вещество, которое приносит вред почве, если попадает в нее, а также воде в озерах, морях и океане.
                    <br>
                    <br>
                    Когда предприятия, которые сталкиваются с проблемой образования конденсата, не избавляются от него правильно, они приносят вред не только природе, но и себе. Конденсат образовывается также в узлах автомобилей. По нормам безопасности такую жидкость нужно немедленно утилизировать. Если конденсат выпадает в газопроводе, то повышает гидравлическое сопротивление. Это может вызвать пожары или взрывы при ремонтных работах. За неправильную утилизацию существуют штрафы, административная и даже уголовная ответственность. Верное решение — доверить переработку вредных химических веществ профессионалам.</p>
            </div>
            <div id="block-3" class="service-body-item">
                <h3>Важность утилизации</h3>
                <p>Утилизация представляет собой процессы получения продукции из нефтесодержащих отходов, в том числе вторичного нефтесодержащего сырья. Это сложный процесс, ведь в состав конденсата входят опасные вещества и соединения, что требует особого внимания и осторожности. На место переработки газоконденсата его перевозят специальной техникой и транспортом. В лаборатории конденсат перерабатывают и получают легкие углеводороды. При правильном выделении веществ, химики получают сырье для производства спирта, каучука и разного топлива.
                    <br>
                    <br>
                    При неправильной утилизации конденсата возникает ряд экологических проблем. Например, на этапе транспортировки есть вероятность загрязнения атмосферного воздуха в связи с испарением легких углеводородов. Если утилизация проходит на открытой площадке, возможно загрязнение окружающей среды из-за осадков и вымывания нефтепродуктов.
                </p>
                <br>
                <br>
                <h3>Преимущества утилизации</h3>
                <p>Не избавляйтесь от конденсата самостоятельно. Переработка конденсата — это взрывоопасное производство, которое работает по стандартам высокой пожарной безопасности и санитарным правилам. Вот причины доверить это профессионалам (название компании):</p>
                <br>
                <ol>
                    <li>Сохранение экологии, атмосферного воздуха, почвы, воды в реках и озерах.</li>
                    <li>Избежание штрафов и административных наказаний производства за неправильный процесс утилизации отходов.</li>
	                <li>Увеличение эффективности производства по добыче газа и правильному применению газоконденсата.</li>
	                <li>Увеличение скорости работы компании по производству нефтяных продуктов.</li>
                </ol>
            </div>
            <div id="block-4" class="service-body-item">
                <h3>Утилизация от GO ECO GOUP</h3>
                <p>
                    Команда GO ECO GROUP — профессионалы по утилизации и переработки различных видов отходов: <a
                        href="">смолы</a>, <a href="">мазута</a>, <a href="">кислого гудрона</a>, <a href="">битума</a>,
                    <a href="">нефтешламов</a> и других. Наши специалисты обладают лицензиями, сертификатами и юридическими разрешениями на переработку нефтеотходов.
                    <br>
                    <br>
                    Закажите услугу «Утилизация конденсата» от GO ECO GROUP по <a href="/contacts">телефону</a> или <a
                        href="/order">онлайн на сайте</a>. Менеджер свяжется с вами по телефону и поможет по всем вопросам.
                </p>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
