{% extends "base.html" %}


{% block content %}

<div class="service-wrapper">
    <div class="service-banner">
        <img src="../static/img/oil_waste.jpg" alt="">
        <div class="service-banner-content">
            <h1>Утилізація нафтових відходів</h1>
            <h2>Щогодини ми утилізуємо 15000 кг відходів</h2>
            <a href="{{ url_for('order', item='Утилізація нафтових відходів') }}">Замовити послугу</a>
        </div>
    </div>
    <div class="crumbs">
        <a href="/">Головна</a>
        <a href="">Утилізація нафтових відходів</a>
    </div>
    <div class="service">
        <div class="service-tools">
            <ul class="service-tabs">
                <li><a href="#block-1">Вступ</a></li>
                <li><a href="#block-2">Економія фінансів</a></li>
            </ul>
            <div class="service-btns">
                <a href="{{ url_for('order', item='Утилізація нафтових відходів') }}">Замовити послугу</a>
                <a href="/contacts">Контакти</a>
            </div>
        </div>
        <div class="service-body">
            <div id="block-1" class="service-body-item">
                <h3>Вступ</h3>
                <p>Організація грамотної утилізації відходів нафтопродуктів - завдання, яке сьогодні стоїть перед
                    Українською владою, яке повинно бути досягнутим поліпшення екологічної ситуації в країні!</p>
                <br>
                <p>Сьогодні відходи нафтопродуктів які утворюються на підприємствах Укрнафти, газовидобування,
                    нафтопереробних заводах, зберігаються в озерах під відкритим небом, та в великих обсягах потрапляють
                    в грунт, стічні води, що приводе до незворотних екологічних наслідків Налагодження ефективної і
                    вигідною всім системи утилізації відходів нафтопродуктів дозволить вирішити цю проблему.</p>
            </div>
            <div id="block-2" class="service-body-item">
                <h3>Економія фінансів</h3>
                <p>Підприемства які зможуть знизити свої екологічне платежі за рахунок передачі відходів нафтопродуктів
                    на переробку.</p>
                <br>
                <p>Крім очевидної вигоди від утилізації відходів нафтопродуктів, вдаватися до неї необхідно зважаючи на
                    вимоги законодавства в сфері екології України. Підприємства , які не дотримуються цих норм,
                    обкладаються високими штрафами.</p>
                <br>
                <p>Відходи нафтопродуктів відносяться до III - IV класу небезпеки і підлягають утилізації в суворої
                    відповідності до встановлених регламентами та законом України про відходи! Зокрема, їх утилізацією
                    можуть займатися тільки компанії, що мають на це ліцензії і потужності по утилізації. І навіть
                    перевезення відходів нафтопродуктів строго регламентована: вона повинна здійснюватися в спеціальному
                    транспорті, оснащеному металевим ланцюгом для заземлення та гарантує, що відходи не потрапляють в
                    грунт або атмосферу.</p>
                <br>
                <p>Підприємствам, які мають відходи, забруднені нафтопродуктами або відходи нафтопродуктів, необхідно
                    звернутися в «утилізуючу компанію GO-ECO group». Ми спеціалізуємося на утилізації відходів
                    нафтопродуктів і нафтошламів, а також утилізації мазуту сірка якого перевищує 1% масовий, ми здатні
                    швидко і на найвищому рівні виконати роботи по утилізації відходів нафтопродуктів в будь-якому
                    обсязі. Ми виконуємо повний комплекс робіт по утилізації:</p>
                <br>
                <ul>
                    <li>Підготовку документації для підприємств.</li>
                    <li>Вивіз відходів на спецтранспорті.</li>
                    <li>Сортування, зберігання відходів.</li>
                </ul>
                <br>
                <p>Утилізацію мазуту, нафтопродуктів і нафтошламу способами, нешкідливими для екології.
                    Дізнатися вартість утилізації нафтошламу (ціна за тонну) і інших нафтопродуктів можна по телефону
                    або залишивши заявку. Звертайтеся, ми гарантуємо високу швидкість і якість виконання робіт.
                </p>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
