{% extends "base.html" %}


{% block content %}

<div class="service-wrapper">
    <div class="service-banner">
        <img src="../static/img/diesel_fuel_bg.jpg" alt="">
        <div class="service-banner-content">
            <h1>Утилизация дизельного топлева</h1>
            <h2>Каждый час мы утилизируем 15000 кг отходов</h2>
            <a href="{{ url_for('order', item='Утилизация дизельного топлева') }}">Заказать услугу</a>
        </div>
    </div>
    <div class="crumbs">
        <a href="/">Главная</a>
        <a href="">Утилизация дизельного топлева</a>
    </div>
    <div class="service">
        <div class="service-tools">
            <ul class="service-tabs">
                <li><a href="#block-1">Введение</a></li>
                <li><a href="#block-2">Здоровье человека и планеты</a></li>
                <li><a href="#block-3">Переработка и ликвидация</a></li>
                <li><a href="#block-4">Утилизация от GO ECO GROUP</a></li>
            </ul>
            <div class="service-btns">
                <a href="{{ url_for('order', item='Утилизация дизельного топлева') }}">Заказать услугу</a>
                <a href="/contacts">Контакты</a>
            </div>
        </div>
        <div class="service-body">
            <div id="block-1" class="service-body-item">
                <h3>Введение</h3>
                <p>Дизельное топливо — популярное горючее для автомобилей. Однако, и вещество, и его отходы представляют опасность для окружающей среды. Ликвидация нефтепродукта играет важную роль в экологии планеты, именно поэтому уничтожением должны заниматься специальные компании. GO ECO GROUP — профессионал в переработке и утилизации горючих веществ. Нам доверяют, потому что мы без вреда природе избавляемся от дизельного топлива. Далее, мы расскажем вам об опасностях самостоятельного уничтожения вещества.</p>
            </div>
            <div id="block-2" class="service-body-item">
                <h3>Здоровье человека и планеты</h3>
                <p>Токсины, которые присутствуют в топливе, наносят серьезный вред живым организмам, симптомы отравления следующие:</p>
                <br>
                <ul>
                    <li>тошнота;</li>
                    <li>головная боль и помутнение рассудка;</li>
                    <li>рвота</li>
                </ul>
                <br>
                <p>В случае насыщения ядами в повышенной концентрации возможны судороги и конвульсии. Особо опасны испарения нефтепродуктов, они быстро проникают в организм и поражают слизистые оболочки, а также дыхательные пути, в больших количествах могут привести к удушью. Кроме этого, они отравляют воздух, которым дышит планета.</p>
                <br>
                <p>Категорически запрещено:</p>
                <br>
                <ol>
                    <li>Курить на АЗС, в закрытых, непроветриваемых помещениях, а также рядом с открытыми канистрами дизеля, так как попадание жара или искры спровоцирует детонацию.</li>
                    <br>
                    <li>Сливать топливо в грунт — загрязнение земли истребит растения и деревья, которые вырабатывают бесценный кислород.</li>
                    <br>
                    <li>Утилизировать горючее в водоемы, реки, стоки — погибнут морские жители, а также питьевая вода станет непригодной для использования.</li>
                    <br>
                    <li>Самостоятельно сжигать дизель — токсические испарения разрушают атмосферу и негативно влияют на живые организмы.</li>
                </ol>
                <br>
                <p>Ликвидация топлива в окружающую среду ведет к уничтожению природы, климатическим катастрофам и чрезвычайным ситуациям. Дешевле заказать утилизацию у GO ECO GROUP, чем платить сумасшедшие штрафы за нанесения вреда окружающей среде.</p>
            </div>
            <div id="block-3" class="service-body-item">
                <h3>Переработка горючего и методы ликвидации</h3>
                <p>Если вам продали некачественное топливо, не стоит его выливать, после переработки оно будет пригодно для использования. Такой метод получения вторичного сырья используется при:</p>
                <br>
                <ul>
                    <li>производственных авариях;</li>
                    <li>после неправильного хранения;</li>
                    <li>для избавления вещества от различных примесей.</li>
                </ul>
                <br>
                <p>Население планеты неуклонно растет, а запасы нефти уменьшаются, по этой причине экологи настаивают на вторичном использовании нефтепродуктов, тем более, что по качеству они не уступают начальному веществу. Выбирая GO ECO GROUP, вы защищаете природу от негативного воздействия загрязняющих веществ.</p>
                <br>
                <p>Существует 4 вида переработки:</p>
                <br>
                <ol>
                    <li>Разделение дизельного топлива на твердые остатки (нефтепродукты) и воду.</li>
                    <br>
                    <li>Абсолютное уничтожение с использованием электрополей.</li>
                    <br>
                    <li>Добавление микроэлементов, которые разлагают дизель на углекислый газ и воду.</li>
                    <br>
                    <li>Отделение и извлечение из вещества кокса, товарной нефти и тд.</li>
                </ol>
                <br>
                <p>Без применения специальных методик и технологий утилизировать дизельное топливо без вреда экологии и здоровью невозможно, так что пользуйтесь услугами профессионалов и природа скажет вам спасибо.</p>
            </div>
            <div id="block-4" class="service-body-item">
                <h3>Почему выбирают GO ECO GROUP</h3>
                <p>Наши экологи используют современные методы уничтожения и переработки нефтепродуктов. Качество услуг, которые мы оказываем подтверждают сертификаты, лицензии и другая документация.</p>
                <br>
                <p>В первую очередь мы думаем об окружающей среде, так что будьте уверены, утилизация топлива у нас безопасна.</p>
                <br>
                <p>Для заказа услуги можно просто позвонить по номеру телефона или оставить заявку на нашем сайте. Мы подробно рассчитаем стоимость каждого этапа ликвидации или переработки. Защитите себя и природу от токсинов!</p>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
