{% extends "base.html" %}


{% block content %}

<div class="service-wrapper">
    <div class="service-banner">
        <img src="../static/img/pitches_bg.jpg" alt="">
        <div class="service-banner-content">
            <h1>Утилізація бітуму</h1>
            <h2>Щогодини ми утилізуємо 15000 кг відходів</h2>
            <a href="{{ url_for('order', item='Утилізація бітуму') }}">Замовити послугу</a>
        </div>
    </div>
    <div class="crumbs">
        <a href="/">Головна</a>
        <a href="">Утилізація бітуму</a>
    </div>
    <div class="service">
        <div class="service-tools">
            <ul class="service-tabs">
                <li><a href="#block-1">Утилізація бітуму</a></li>
                <li><a href="#block-2">Особливості утилізації бітуму</a></li>
                <li><a href="#block-3">Утилізувати бітуми «НВП ЕКО ОІЛ»</a></li>
            </ul>
            <div class="service-btns">
                <a href="{{ url_for('order', item='Утилізація бітуму') }}">Замовити послугу</a>
                <a href="/contacts">Контакти</a>
            </div>
        </div>
        <div class="service-body">
            <div id="block-1" class="service-body-item">
                <h3>Утилізація бітуму</h3>
                <p><b>Бітум</b> загалом використовують при облаштуванні покрівельного і дорожнього покриття, як
                    будівельно-оздоблювальний матеріал та в інших цілях. Відходи бітуму містять токсичні продукти -
                    вуглеводні, а також металізовані, сірчисті та азотисті сполуки, оскільки речовина легко запалюється,
                    може не тільки отруїти навколишнє середовище, але і стати причиною пожежі. Позбутися бітуму можливо
                    без ризику і з користю. Для цього потрібно переробити залишки з дотриманням регламенту за допомогою
                    спецобладнання. Некоректна утилізації має відповідні наслідки у вигляді значної шкоди навколишньому
                    середовищу, а також сплати підприємством/приватною особою величезного штрафу.
                </p>
            </div>
            <div id="block-2" class="service-body-item">
                <h3>Особливості утилізації бітуму</h3>
                <p>Щоб переробити бітум, його необхідно транспортувати в пункт утилізації за допомогою спеціального
                    автотранспорту. Бітумні відходи не можна розчинити, тому фахівці піддають матеріал термічній обробці
                    без доступу кисню. Високотемпературна деструкція дозволяє виділити з маси газоподібні продукти, кокс
                    і рідкі суміші. Газ можна використовувати в якості палива, а кокс і рідкі склади - для отримання
                    енергоресурсів і для повторного виробництва продуктів нафтохімії. Утилізатори обирають технології,
                    які дозволяють переробляти бітум ефективно і без найменшого забруднення навколишнього середовища.
                    Залишки знищують з дотриманням протипожежних норм і рекомендацій екологів.
                    Спеціалізовані компанії утилізують бітум, який був використаний в якості інженерно-будівельного
                    матеріалу, а також внаслідок браку виробництва.
                </p>
            </div>
            <div id="block-3" class="service-body-item">
                <h3>Утилізувати бітуми «НВП ЕКО ОІЛ»</h3>
                <p>У парку нашої компанії є техніка для транспортування бітуму в будь-яких обсягах. Співробітники
                    приїжджають на об'єкт завжди своєчасно, забирають нафтовмісні продукти тільки після підписання
                    договору. Фахівці з <b>«НВП ЕКО ОІЛ»</b> пропонують співпрацю на вигідних для замовника умовах:
                    обов’язкова видача актів про утилізацію, що мають юридичну силу.
                </p>
                <br>
                <p>На транспортування і переробку відходів бітуму встановлені доступні тарифи. Працівники забирають на
                    утилізацію матеріали в будь-якому стані, процедура здійснюється точно в строк і в зручний для
                    замовника час.
                </p>
                <br>
                <p>Менеджери компанії <b>«НВП ЕКО ОІЛ»</b> приймають заявки шляхом заповнення онлайн-анкети, по електронній
                    пошті і за телефоном. Замовлення обробляються миттєво.
                    Утилізуємо бітум недорого і в мінімальні строки!
                </p>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
