{% extends "base.html" %}


{% block content %}

<div class="service-wrapper">
    <div class="service-banner">
        <img src="../static/img/oil_sludge_bg.jpg" alt="">
        <div class="service-banner-content">
            <h1>Утилизация нефтешлама</h1>
            <h2>Каждый час мы утилизируем 15000 кг отходов</h2>
            <a href="{{ url_for('order', item='Утилизация нефтешлама') }}">Заказать услугу</a>
        </div>
    </div>
    <div class="crumbs">
        <a href="/">Главная</a>
        <a href="">Утилизация нефтешлама</a>
    </div>
    <div class="service">
        <div class="service-tools">
            <ul class="service-tabs">
                <li><a href="#block-1">Вступление</a></li>
                <li><a href="#block-2">Что такое нефтешламы</a></li>
                <li><a href="#block-3">Чем опасны нефтешламы</a></li>
                <li><a href="#block-4">Утилизация нефтешламов</a></li>
                <li><a href="#block-5">Утилизация от GO ECO GROUP</a></li>
            </ul>
            <div class="service-btns">
                <a href="{{ url_for('order', item='Утилизация нефтешлама') }}">Заказать услугу</a>
                <a href="/contacts">Контакты</a>
            </div>
        </div>
        <div class="service-body">
            <div id="block-1" class="service-body-item">
                <h3>Вступление</h3>
                <p>Нефть — один из важнейших компонентов в работе многих промышленных предприятий. Она используется как сырье или как энергоноситель. Но после ее использования образуются опасные и вредные вещества — нефтешламы.</p>
            </div>
            <div id="block-2" class="service-body-item">
                <h3>Что такое нефтешламы?</h3>
                <p>Это осадок от переработанных нефтепродуктов. По виду такая смесь напоминает эмульсию, смешанную с песком, затвердевшими кусками нефти и глины. Эти отходы чаще всего образуются в энергетической, металлургической, нефтеперерабатывающей, горнодобывающей  промышленности, машиностроении и так далее. Разделяют несколько видов нефтешламов, в зависимости от того, как они образуются. Они бывают грунтовыми, придонными и резервуарными. Нефтешламы образуются при бурении, подготовке нефти, при чистке резервуаров. Транспортировка и переработка  этого вещества — сложный процесс, его доверяют только специалистам по утилизации отходов.</p>
            </div>
            <div id="block-3" class="service-body-item">
                <h3>Чем опасны нефтешламы</h3>
                <p>Нефтешламы — одни из наиболее ядовитых загрязнителей практически всех компонентов окружающей среды: поверхностных и подземных вод, почвы и атмосферного воздуха.</p>
                <br>
                <p>При попадании даже небольшого количества нефтепродуктов в грунтовые воды, водоемы и почву, они приносят непоправимый вред целым экосистемам. Небрежное отношение к этим веществам приводит к загрязнению ландшафтов, потери плодородности земель, гибелью флоры и фауны.</p>
            </div>
            <div id="block-4" class="service-body-item">
                <h3>Утилизация нефтешламов GO ECO GROUP</h3>
                <p>Согласно законодательству Украины, для удаления опасных отходов используют специально отведенное и соответственно оборудованное место или объект (площадки, складские помещения, сооружения и т.п.) и специальную тару для временного или постоянного хранения опасных отходов. Наша компания выполняет работы по очистке и переработке нефтешламов в нефтяных резервуарах и шламонакопителях. Мы предлагаем сотрудничество в решении сложных технических задач по улучшению экологической обстановке на вашем предприятии.  Вот список некоторых способов по утилизации нефтеотходов:</p>
                <br>
                <ol>
                    <li>Очистка резервуаров.<br>Процесс происходит без нарушения целостности металлоконструкции резервуара, экономится время размыва и удаления основного объема нефтесодержащего остатка. Основным преимуществом метода является взрывобезопасность системы размыва и технологии, а также минимальное воздействие на экологию.</li>
                    <li>Очистка земляных амбаров.<br>Этот процесс отличается от предыдущего и происходит в несколько этапов. Нефтешлам очищается от крупных механических примесей на фильтрах, а позже освобождается от воды и разных примесей. Мы используем специальные реагенты, увеличивающие эффективность процесса.</li>
                    <li>Очистка донных нефтешламов.<br>Нефтезагрязненные грунты и донные нефтешламы подвергаются отмывке при помощи специальных моющих средств. Далее нефтепродукты очищаются от крупных примесей на фильтрах очистки и вибросита, а затем освобождаются от воды.</li>
                </ol>
            </div>
            <div id="block-5" class="service-body-item">
                <h3>Доверьте утилизацию GO ECO GROUP</h3>
                <p>Утилизация опасных отходов — задача №1 для команды GO ECO GROUP. Переработка таких опасных веществ разрешена компаниям, которые специализируются на этом и имеют определенные лицензии. Мы работаем в строгом соответствии с международными стандартами в области обращения с опасными отходами и промышленной безопасности. GO ECO GROUP предлагает быструю и эффективную переработку любого количества нефтешламов.</p>
                <br>
                <p>Для заказа услуги «Утилизация нефтешламов» от GO ECO GROUP звоните по <a href="/contacts">телефону</a> или оформите заказ <a
                        href="/order">онлайн на сайте</a>. Менеджер свяжется с вами и проконсультирует по всем вопросам.</p>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
