{% extends "base.html" %}


{% block content %}

<div class="service-wrapper">
    <div class="service-banner">
        <img src="../static/img/balance_bg.jpg" alt="">
        <div class="service-banner-content">
            <h1>Утилізація кубового залишоку</h1>
            <h2>Щогодини ми утилізуємо 15000 кг відходів</h2>
            <a href="{{ url_for('order', item='Утилізація кубового залишоку') }}">Замовити послугу</a>
        </div>
    </div>
    <div class="crumbs">
        <a href="/">Головна</a>
        <a href="">Утилізація кубового залишоку</a>
    </div>
    <div class="service">
        <div class="service-tools">
            <ul class="service-tabs">
                <li><a href="#block-1">Утилізація кубового залишоку</a></li>
                <li><a href="#block-2">Чому обирають нас</a></li>
            </ul>
            <div class="service-btns">
                <a href="{{ url_for('order', item='Утилізація кубового залишоку') }}">Замовити послугу</a>
                <a href="/contacts">Контакти</a>
            </div>
        </div>
        <div class="service-body">
            <div id="block-1" class="service-body-item">
                <h3>Утилізація кубового залишоку</h3>
                <p>На будь-якому підприємстві час від часу утворюється та накопичується прострочена/неліквідна
                    продукція, утилізація якої силами фахівців самого підприємства часто буває неможливою, ускладненою
                    або надто витратною. Адже для проведення процедури утилізації браку необхідно спеціалізоване
                    обладнання, техніка, а також спеціальні полігони, безпечні для навколишнього середовища, де
                    відбувається процес утилізації неліквідної продукції. Все це є в наявності компанії <b>«НВП ЕКО ОІЛ»</b>.</p>
            </div>
            <div id="block-2" class="service-body-item">
                <h3>Чому обирають нас</h3>
                <p>Ми виконуємо утилізацію простроченої продукції «під ключ», повністю звільняючи підприємства від таких
                    задач. Ми виїжджаємо до замовників і самостійно забираємо неякісну продукцію на утилізацію. Залежно
                    від типу продукції ми підбираємо спосіб утилізації, строго дотримуючись екологічного законодавства,
                    не завдаючи шкоди навколишньому середовищу!</p>
                <br>
                <p>Дізнатися ціни на утилізацію неліквідної продукції і замовити утилізацію можливо залишивши заявку або
                    за телефоном. Ми гарантуємо швидкість і якість робіт!</p>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
