{% extends "base.html" %}


{% block content %}

<div class="service-wrapper">
    <div class="service-banner">
        <img src="../static/img/bitumen_bg.jpg" alt="">
        <div class="service-banner-content">
            <h1>Утилизация битума</h1>
            <h2>Каждый час мы утилизируем 15000 кг отходов</h2>
            <a href="{{ url_for('order', item='Утилизация битума') }}">Заказать услугу</a>
        </div>
    </div>
    <div class="crumbs">
        <a href="/">Главная</a>
        <a href="">Утилизация битума</a>
    </div>
    <div class="service">
        <div class="service-tools">
            <ul class="service-tabs">
                <li><a href="#block-1">Вступление</a></li>
                <li><a href="#block-2">Что такое битум</a></li>
                <li><a href="#block-3">Насколько опасен битум</a></li>
                <li><a href="#block-4">Утилизация битума</a></li>
                <li><a href="#block-5">Утилизация от «НВП ЕКО ОІЛ»</a></li>
            </ul>
            <div class="service-btns">
                <a href="{{ url_for('order', item='Утилизация битума') }}">Заказать услугу</a>
                <a href="/contacts">Контакты</a>
            </div>
        </div>
        <div class="service-body">
            <div id="block-1" class="service-body-item">
                <h3>Вступление</h3>
                <p>Хранение мазута и его производных компонентов (например, битума) создает опасные ситуации — пожары, аварии и экологические катастрофы. Поэтому компания «НВП ЕКО ОІЛ» предоставляет услугу «Утилизация битума», берет на себя всю ответственность за транспортировку и переработку таких отходов.</p>
            </div>
            <div id="block-2" class="service-body-item">
                <h3>Что такое битум</h3>
                <p>Это смолоподобный продукт, который получают из нефти. Он не растворяется в воде и представляет собой смесь углеводородов и различных химических элементов (азот, сера, металлы). Битум обычно используется для:</p>
                <br>
                <ul>
                    <li>дорожно-асфальтного покрытия;</li>
                    <li>производства изоляционных и отделочных материалов;</li>
                    <li>антикоррозийной обработки металлов;</li>
                    <li>кровельных материалов;</li>
                    <li>лакокрасочной промышленности.</li>
                </ul>
                <br>
                <p>Битум имеет особенности, из-за которых он нуждается в переработке. Например, высокая чувствительность к температурам (плавится на жаре и крошится на холоде), он склонен высыхать и обладает низкой упругостью.  Утилизировать этот материал нужно с осторожностью, ведь неправильная транспортировка и обращение с битумом может привести к серьезным последствиям для жизни человека и для окружающей среды.</p>
            </div>
            <div id="block-3" class="service-body-item">
                <h3>Насколько опасен битум</h3>
                <p>Это вещество не относят к высокоопасным. Но все же оно представляет опасность, если его перевозят в жидком состоянии, то есть, в нагретом до определенной температуры. Битум считается легковоспламеняющимся и может стать причиной пожаров, поэтому его хранение на полигонах запрещено. При горении он выделяет ядовитые вещества, которые попадают в атмосферный воздух и разрушают озоновый слой. После этого они оседают в земле с осадками, наносят вред почве, растениям и здоровью человека.</p>
            </div>
            <div id="block-4" class="service-body-item">
                <h3>Утилизация битума</h3>
                <p>При утилизации битума соблюдают строгие правила в установленном порядке. Специалисты используют средства индивидуальной защиты, а в помещении, где утилизируют опасное вещество, находится вытяжная вентиляция для очистки воздуха. В случае пожара или возгорания, битум засыпают песком или тушат пенной струей. Существуют такие способы обработки битума:</p>
                <br>
                <ol>
                    <li>Термическая. Это процесс, при котором битум обрабатывают с помощью воздействия температур без доступа к кислороду. Благодаря такой обработке получают кокс и газообразные смеси, которые позже используют как топливо и материалы для хим. промышленности.</li>
                    <li>Путем химической обработки, смешиванием с другими отходами, добавлением различных смесей, утилизаторы получают вторичное сырье. Его повторно используют в дорожно-строительной, кровельной продукции и т.д.</li>
                </ol>
                <br>
                <p>По Закону Украины «Об охране окружающей среды» от 25 июня 1991 года предусмотрено, что за нарушение законодательства (бесконтрольные выбросы опасных веществ в атмосферный воздух, слив в водоемы и почву, нанесение вреда природе и т.д) предусмотрены административные наказания.</p>
                <br>
                <p>Поэтому компания «НВП ЕКО ОІЛ» ставит перед собой задачу — взять всю ответственность за транспортировку, переработку и утилизацию вредных отходов на себя. Таким образом, наши клиенты могут концентрироваться на росте производства и развитии бизнеса без всяких рисков.</p>
            </div>
            <div id="block-5" class="service-body-item">
                <h3>Утилизация от «НВП ЕКО ОІЛ»</h3>
                <p>Одна из ценностей компании «НВП ЕКО ОІЛ» — создание и сохранение экологической безопасности Украины. Клиенты — это наши единомышленники, которые заботятся об окружающей среде и ответственно подходят к вопросу выбора утилизатора.</p>
                <br>
                <p>В своей работе мы применяем знания грамотных сотрудников в сфере экологии, современную технику и компьютерные технологии. Свою экспертность мы доказываем необходимыми лицензиями, государственными разрешениями и документами.</p>
                <br>
                <p>Если ваше производство вырабатывает нефтесодержащие отходы — закажите услугу утилизации от компании «НВП ЕКО ОІЛ». Звоните по
                    <a href="/contacts">телефону</a>, или оставляйте заявку
                    <a href="/order">онлайн на сайте</a>.</p>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
