{% extends "base.html" %}


{% block content %}

<div class="service-wrapper">
    <div class="service-banner">
        <img src="../static/img/diesel_fuel_bg.jpg" alt="">
        <div class="service-banner-content">
            <h1>Утилізація дизельного палива</h1>
            <h2>Щогодини ми утилізуємо 15000 кг відходів</h2>
            <a href="{{ url_for('order', item='Утилізація дизельного палива') }}">Замовити послугу</a>
        </div>
    </div>
    <div class="crumbs">
        <a href="/">Головна</a>
        <a href="">Утилізація дизельного палива</a>
    </div>
    <div class="service">
        <div class="service-tools">
            <ul class="service-tabs">
                <li><a href="#block-1">Вступ</a></li>
                <li><a href="#block-2">Чому утилізують дизельне паливо</a></li>
                <li><a href="#block-3">Технологія</a></li>
                <li><a href="#block-4">Чому вибирають нас</a></li>
            </ul>
            <div class="service-btns">
                <a href="{{ url_for('order', item='Утилізація дизельного палива') }}">Замовити послугу</a>
                <a href="/contacts">Контакти</a>
            </div>
        </div>
        <div class="service-body">
            <div id="block-1" class="service-body-item">
                <h3>Вступ</h3>
                <p>Важливий етап захисту екології і підтримки благополуччя населення. Даний вид палива, як і будь-який
                    містить нафтову речовину, що згубно впливає на навколишнє середовище при несанкціонованому скиданні.
                    Законодавством України заборонено позбавлятися відходів без відповідної утилізації. Навіть
                    неправильне зберігання сировини призводить до викиду в атмосферу великої кількості вуглеводнів, що
                    досить небезпечно.</p>
            </div>
            <div id="block-2" class="service-body-item">
                <h3>Чому утилізують дизельне паливо</h3>
                <p>Після прямого використання дизельне паливо практично повністю знищується, залишається лише невеликий
                    обсяг осаду. Але існують й інші причини утилізації даного виду відходів. Довге зберігання в ємностях
                    даного виду палива призводить до втрати технічних характеристик, змінюється рівень сировини. Таке
                    дизельне паливо не можна використовувати транспортними засобами та промисловими установками.</p>
                <br>
                <p>Основною причиною утілізації е довге зберігання,а також небезпечні хімічні сполуки, які можуть чинити
                    негативний вплив, як на природу, так і на людину при тривалому контакті.
                    Утилізація цього палива необхідна для запобігання можливого попадання в грунт, воду, атмосферу.
                    Злити відходи можна за кілька хвилин, а відновлення потім займає багато років, десятиліть. Гинуть
                    живі організми, токсини потрапляють через грунт в воду, споживану людьми. Щоб убезпечити власне
                    майбутнє важливо звертатися в спеціалізовані на даному виді діяльності організації. Компанія
                    «GO-ECO» надає послуги з утилізації відходів дизельного палива, використовуючи сучасні технології і
                    керуючись буквою закону.
                </p>
                <br>
                <p>Професійна утилізація проходить в кілька етапів:</p>
                <br>
                <ol>
                    <li>Сировина збирається і зберігатися в підготовлених герметичних контейнерах;</li>
                    <li>Проводять транспортування до місця утилізації;</li>
                    <li>Проходить процедура рециклінгу, переробки, очищення від шкідливих домішок, механічних забруднень
                        в залежності від початкового складу;
                    </li>
                    <li>Замовнику передаються документи, що фіксують законність проведених робіт;</li>
                    <li>Після того, як співробітники компанії «GO-ECO group» оцінюють ступінь забруднення дизельного
                        палива, вибирається метод переробки: механічний, термічний, хімічний або комплекс способів.
                    </li>
                </ol>
            </div>
            <div id="block-3" class="service-body-item">
                <h3>Технологія утилізація відходів дизельного палива</h3>
                <p>Потрапляючи в ливневки, дизель може згодом заразити джерела питної води, тому вкрай важлива ефективна
                    і безпечна утилізація. Наша компанія співпрацює з великими заводами-виробниками, промисловими
                    підприємствами, великими і дрібними нафтобазами. Методи утилізації можуть бути різними або
                    використані в комплексі:</p>
                <br>
                <ul>
                    <li>
                        <b>Механічний</b><br/>
                        Відбувається перемішування нафтошламів, відстоювання з подальшим очищенням від води, механічних
                        вкраплень, твердих забруднень.
                    </li>
                    <li>
                        <b>Термічний</b><br/>
                        Обробка високими температурами дозволяє отримувати пічне та котельне паливо, товарну нафту, а
                        також сировину для будівельних майданчиків.
                    </li>
                    <li>
                        <b>Екстракційний</b><br/>
                        Рідина піддається розчиненню шляхом органічного синтезу.
                    </li>
                    <li>
                        <b>Біологічний</b><br/>
                        Спеціальні біоактивні речовини розщеплюють і відокремлюють токсичні сполуки. Виробляється
                        великий кількість вуглекислого газу.
                    </li>
                </ul>
            </div>
            <div id="block-4" class="service-body-item">
                <h3>Чому для утилізації дизеля вибирають нас</h3>
                <p>Утилізація дизельного палива, як і будь-якого містить нафту речовину, вимагає грамотного і
                    відповідального підходу. Компанія «GO-ECO» зарекомендувала себе, як надійний партнер в даній сфері.
                    Ми працюємо з різними обсягами, пропонуємо вигідні і комфортні умови співпраці, готові йти назустріч
                    клієнтам. Великий досвід і наявність власного професійного обладнання сприяють якісній роботі.</p>
                <br>
                <p>При отриманні заявки на вивезення та утилізацію відходів палива, співробітники відразу приймають її в
                    роботу. Найближчим часом до вас приїдуть фахівці. Важливо перевірити якість сировини, щоб визначити
                    схему утилізації, метод рециклінгу. Часто нашими послугами користуються заводи виробники. Бракована
                    солярка повинна бути так само утилізована. Тільки недобросовісні постачальники реалізують таке
                    паливо на заправні станції.</p>
                <br>
                <p>Утилізація дизеля - важливий етап захисту екології і підтримки благополуччя населення. Даний вид
                    палива, як і будь-який містить нафтову речовину, що згубно впливає на навколишнє середовище при
                    несанкціонованому скиданні.</p>
                <br>
                <p>Законодавством України заборонено позбавлятися відходів без відповідної утилізації. Навіть
                    неправильне зберігання сировини призводить до викиду в атмосферу великої кількості вуглеводнів, що
                    досить небезпечно.</p>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
