{% extends "base.html" %}


{% block content %}

<div class="service-wrapper">
    <div class="service-banner">
        <img src="../static/img/fuel_oil_bg.jpg" alt="">
        <div class="service-banner-content">
            <h1>Утилизация мазута</h1>
            <h2>Каждый час мы утилизируем 15000 кг отходов</h2>
            <a href="{{ url_for('order', item='Утилизация мазута') }}">Заказать услугу</a>
        </div>
    </div>
    <div class="crumbs">
        <a href="/">Главная</a>
        <a href="">Утилизация мазута</a>
    </div>
    <div class="service">
        <div class="service-tools">
            <ul class="service-tabs">
                <li><a href="#block-1">Введение</a></li>
                <li><a href="#block-2">Отходы мазута</a></li>
                <li><a href="#block-3">Необходимость утилизации</a></li>
                <li><a href="#block-4">Как утилизируют мазут</a></li>
                <li><a href="#block-5">Утилизация от GO ECO GROUP</a></li>
            </ul>
            <div class="service-btns">
                <a href="{{ url_for('order', item='Утилизация мазута') }}">Заказать услугу</a>
                <a href="/contacts">Контакты</a>
            </div>
        </div>
        <div class="service-body">
            <div id="block-1" class="service-body-item">
                <h3>Введение</h3>
                <p>Мазут — горючее вещество, которое нельзя хранить на производстве в качестве отходов. Он создает риск пожаров и чрезвычайных ситуаций, поэтому его утилизация — острый вопрос, который стоит перед производствами. В Украине этим занимается компания GO ECO GROUP и предоставляет услуги по сбору, перевозке, переработки и ликвидации опасных веществ.</p>
            </div>
            <div id="block-2" class="service-body-item">
                <h3>Отходы мазута</h3>
                <p>Мазут — это остаток от переработки нефти и ее продуктов содержания. Представляет собой маслянистую вязкую смесь черного или темно-коричневого цвета. Это совокупность углеводородов, смол, металлов и карбенов. Свойства мазута зависят от состава исходного продукта, то есть нефти, из которой он получился. Он обладает вязкостью, высокой плотностью, застывает при температуре от 10 до 40 градусов по Цельсию. Это вещество ценится и считается высококалорийным топливом.</p>
                <br>
                <p>Мазут используют:</p><br>
                <ul>
                    <li>как топливо для котельных установок, печей и дизелей;</li>
                    <li>в обслуживании и ремонте автомобилей;</li>
                    <li>как топливо для морского транспорта (больших суден, кораблей и т.д.);</li>
                    <li>в жилищно-коммунальном хозяйстве;</li>
                    <li>на нефтеперерабатывающем производстве.</li>
                </ul>
            </div>
            <div id="block-3" class="service-body-item">
                <h3>Необходимость утилизации</h3>
                <p>Мазут относят к классу легковоспламеняющихся жидкостей. Из-за своих свойств он является опасным загрязнителем — нельзя допускать его попадания в водоемы, реки и моря. В воде он растекается маслянистым пятном подобно нефти. Такое загрязнение наносит огромный вред береговой зоне, морской среде, а особенно растениям, рыбам, планктонным и другим морским обитателям. При выбросах или его утечке в моря и озера страдают птицы. Если нефтяные отходы попадают на перья птиц, пернатое не может его смыть, замерзает и погибает.</p>
                <br>
                <p>Мазут также опасен и для человека. При контакте с кожей этот жидкий нефтепродукт вызывает отмирание тканей, образует гнойные заболевания, экземы и дерматиты. Масляные пары, которые выделяет мазут, также опасны для здоровья. При их вдыхании человек может отравиться или причинить серьезные увечья дыхательным путям. При отравлении нефтепродуктами наблюдаются такие симптомы: кашель, боль в грудной клетке, головокружение, общая слабость, тахикардия и другие тревожные сигналы.</p>
            </div>
            <div id="block-4" class="service-body-item">
                <h3>Как утилизируют мазут</h3>
                <p>Без переработки мазута невозможно избежать негативных последствий — загрязнения природы и нанесения вреда экологии. Существует такие виды утилизации: </p>
                <br>
                <ol>
                    <li>Обезвоживание. Этот способ подразумевает выпаривание жидкости, а после — захоронение остатков на полигонах.</li>
                    <br>
                    <li>Химико-физический вид утилизации — процесс, при котором в мазут добавляют химические реагенты для его разложения.</li>
                    <br>
                    <li>Химический вид или инкапсулирование с помощью абсорбентов.</li>
                </ol>
                <br>
                <p>Запасы нефти истощаются с каждым годом, а население Земли растет огромными темпами. Экологи призывают рационально расходовать ценные ископаемые и пускать их во вторичное использование. В основном мазут перерабатывают способом вакуумной перегонки. Вещество нагревают, и все тяжелые углеводороды испаряются.</p>
            </div>
            <div id="block-5" class="service-body-item">
                <h3>Преимущества утилизации от GO ECO GROUP</h3>
                <p>Компания GO ECO GROUP определяет состав мазута, наиболее рациональный способ транспортировки и утилизации, рассчитывает стоимость индивидуально под каждого клиента.</p>
                <br>
                <p>Наша задача — быть лидером утилизации опасных отходов на рынке Украины. Именно поэтому в нашей команде работают лучшие специалисты-экологи и используют современные методы переработки разных видов загрязнителей.</p>
                <br>
                <p>Нашу экспертность подтверждают все необходимы Украинским законодательством документы и лицензии. Доверяя GO ECO GROUP, вы сохраняете экологию Украины и расширяете свои возможности. Закажите услугу утилизации от компании GO ECO GROUP. Звоните по
                    <a href="/contacts">телефону</a>, или оставляйте заявку
                    <a href="/order">онлайн на сайте</a>.</p>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
