{% extends "base.html" %}


{% block content %}

<div class="service-wrapper">
    <div class="service-banner">
        <img src="../static/img/tank_cleaning_bg.jpg" alt="">
        <div class="service-banner-content">
            <h1>Зачистка ємностей</h1>
            <h2>Щогодини ми утилізуємо 15000 кг відходів</h2>
            <a href="{{ url_for('order', item='Зачистка ємностей') }}">Замовити послугу</a>
        </div>
    </div>
    <div class="crumbs">
        <a href="/">Головна</a>
        <a href="">Зачистка ємностей</a>
    </div>
    <div class="service">
        <div class="service-tools">
            <ul class="service-tabs">
                <li><a href="#block-1">Вступ</a></li>
                <li><a href="#block-2">Дегазація об'єкта</a></li>
                <li><a href="#block-3">Видалення залишків нафтопродуктів</a></li>
            </ul>
            <div class="service-btns">
                <a href="{{ url_for('order', item='Зачистка ємностей') }}">Замовити послугу</a>
                <a href="/contacts">Контакти</a>
            </div>
        </div>
        <div class="service-body">
            <div id="block-1" class="service-body-item">
                <h3>Вступ</h3>
                <p>Виконання процесу видалення залишків нафтопродуктів.
                    Для цього використовується кілька типів технологій проведення робіт в залежності від резервуара і
                    знаходиться в ньому речовини. Перед видаленням, шляхом нагрівання нафтопродуктів, проводиться
                    розм'якшення і доведення їх до рідкого стану. Для виконання даної операції застосовується кілька
                    високотехнологічних методів:
                    Робота проводиться з використанням пара або нагрітої води. При цьому способі в резервуар закачують
                    теплоносій (температура близько 900), шар якого має дорівнювати шару речовини. Застосовується
                    заповнення ємності гарячою парою.
                    Вноситься аналогічний розігрітий нафтопродукт. Потім за допомогою насосів проводять циркуляцію
                    речовини з паралельним розігрівом в теплообміннику протягом 15 годин.
                    Гідромонітори створюють великий тиск розігрітій води і струменем видаляється з днища і стінок
                    резервуара речовина, з паралельної відкачуванням його на місце тимчасового зберігання. Тут слід
                    зазначити, що проводити роботи зі світлими нафтопродуктами легше. Залишок даного виду піднімається
                    вгору і його легко відібрати і відкачати.
                </p>
            </div>
            <div id="block-2" class="service-body-item">
                <h3>Роботи по дегазації об'єкта</h3>
                <p>Для забезпечення безпеки при проведенні зачистки, виконується очищення повітря в ємності від
                    загазованості. При цьому беруться проби повітря і проводиться аналізи концентрації газу в
                    резервуарі.
                    Наша компанія застосовує для цього 2 способи очищення повітря:
                    Відкачування парів і нагнітання чистого повітря. Природна вентиляція ємності - це найпростіший і
                    надійний метод. Високі бочки можна вентилювати навіть при швидкості вітру 1 м / сек.
                </p>
                <br>
                <p>Примусове нагнітання чистого повітря і заміщення їм парів нафтопродуктів. Для цього компанія
                    використовує вентилятори і пароежектори з надійною ізоляцією від іскор і визривобезопаснимі
                    властивостями.</p>
                <br>
                <p>При зачистці від мазуту та інших темних продуктів застосовується пропарювання резервуара. Пара
                    подається з температурою 900. Також передбачена можливість заповнення гарячою водою - найкращий
                    спосіб дегазації підземних ємностей.</p>
                <br>
                <p>Флегмантація повітря і парів. При ньому в ємність закачують інертний газ. Він важчий за повітря,
                    заповнюючи усі пори і порожнечі, витісняє пари горючої речовини. Використовують навіть охолоджений
                    дим котельні труби.</p>
                <br>
                <p>Операція чистової зачистки поверхонь, проводиться, використовуючи наступні роботи:
                    Проведення первинної мийки здійснюється подачею гарячої води під великим тиском. При цьому
                    видаляються залишкові забруднення і іржа. Для цього проводиться мийка спеціальними ручними приладами
                    зверху резервуара до дну.
                    Потім проводиться відкачка брудної води і платов іржі із застосуванням пневмотранспортерів. На
                    невеликих об'єктах після цієї операції осад збирається без застосування громіздкого інструменту.
                    Потім миється обладнання самого резервуара. Тут самої відповідальної операцією стане видалення іржі
                    та забруднення з приладів нагрівання.
                </p>
                <br>
                <p>Остаточне наведення чистоти в резервуарі. При цьому спочатку стіни і дно обробляють за допомогою
                    розчинника, потім промиваються гарячою водою. Відкачавши воду, поверхні доводять до чистоти,
                    протираючи їх дрантям.</p>
                <br>
                <p>Проводиться вивезення бруду та іржі, відходи переробляються. З них виділяються вторинні
                    нафтопродукти. Все інше утилізується. Це робиться за допомогою хімічної, термічної, бактеріологічної
                    обробок відходів виробництва.

                    Перевозять відходи і бруд за допомогою вакуумних машин і спеціальних цистерн.
                    GO-EKO GROUP найкращий вибір для вашого підприємства
                </p>
            </div>
            <div id="block-3" class="service-body-item">
                <h3>Виконання процесу видалення залишків нафтопродуктів.</h3>
                <p>Для цього використовується кілька типів технологій проведення робіт в залежності від резервуара і
                    знаходиться в ньому речовини. Перед видаленням, шляхом нагрівання нафтопродуктів, проводиться
                    розм'якшення і доведення їх до рідкого стану. Для виконання даної операції застосовується кілька
                    високотехнологічних методів:
                    Робота проводиться з використанням пара або нагрітої води. При цьому способі в резервуар закачують
                    теплоносій (температура близько 900), шар якого має дорівнювати шару речовини. Застосовується
                    заповнення ємності гарячою парою.
                </p>
                <br>
                <p>Вноситься аналогічний розігрітий нафтопродукт. Потім за допомогою насосів проводять циркуляцію
                    речовини з паралельним розігрівом в теплообміннику протягом 15 годин.
                    Гідромонітори створюють великий тиск розігрітій води і струменем видаляється з днища і стінок
                    резервуара речовина, з паралельної відкачуванням його на місце тимчасового зберігання. Тут слід
                    зазначити, що проводити роботи зі світлими нафтопродуктами легше. Залишок даного виду піднімається
                    вгору і його легко відібрати і відкачати.
                </p>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
