{% extends "base.html" %}


{% block content %}

<div class="service-wrapper">
    <div class="service-banner">
        <img src="../static/img/oils_bg.jpg" alt="">
        <div class="service-banner-content">
            <h1>Утилизация масел</h1>
            <h2>Каждый час мы утилизируем 15000 кг отходов</h2>
            <a href="{{ url_for('order', item='Утилизация масел') }}">Заказать услугу</a>
        </div>
    </div>
    <div class="crumbs">
        <a href="/">Главная</a>
        <a href="">Утилизация масел</a>
    </div>
    <div class="service">
        <div class="service-tools">
            <ul class="service-tabs">
                <li><a href="#block-1">Что такое отработанное масло?</a></li>
                <li><a href="#block-2">Опасность отработанного масла</a></li>
                <li><a href="#block-3">Методы утилизации</a></li>
                <li><a href="#block-4">Утилизация масел от GO ECO GROUP</a></li>
            </ul>
            <div class="service-btns">
                <a href="{{ url_for('order', item='Утилизация масел') }}">Заказать услугу</a>
                <a href="/contacts">Контакты</a>
            </div>
        </div>
        <div class="service-body">
            <div id="block-1" class="service-body-item">
                <h3>Что такое отработанное масло?</h3>
                <p>Отработанные масла бывают минеральными (на нефтяной основе) или синтетическими (с добавлением химических примесей). После их использования они загрязняются или ухудшаются по своим свойствам, из-за чего становятся непригодными — переработанными. В промышленности, где задействованы автотранспортные средства, всегда образовываются отходы в виде масел. Источниками таких отходов являются также и обычные автомобилисты, мастерские по ремонту машин, станции и так далее. </p>
                <br>
                <p>Примеры подобных масел: </p><br>
                <ul>
                    <li>масла в легковых и грузовых авто;</li>
                    <li>отработанное сырье самолетов и кораблей;</li>
                    <li>двигатели, которые работают на природном газе;</li>
                    <li>различные смазки для металлообработки.</li>
                </ul>
                <br>
                <p>Масла пищевой продукции не относятся к категории отработанных. Они содержат канцерогены, которые не поддаются обработке.</p>
            </div>
            <div id="block-2" class="service-body-item">
                <h3>Опасность отработанного масла</h3>
                <p>Использованные промышленные масла — опасные вещества для природы, экологии и здоровья людей. Это один из самых больших источников техногенного загрязнения. В тяжелых металлах и канцерогенах 0% пользы и 100% опасности. При попадании в почву всего 1 литра такой жидкости наносится вред для 1000 тонн грунтовых вод.
                    Эти масла считаются высокоопасными и контролируются Базельской конвенцией — международным договором о перевозках и утилизации отходов. Отработанное масло содержит химические примеси, вызывает мутагенные реакции в организме человека и снижает репродуктивную функцию.</p>
                <br>
                <p>Вот несколько правил обращения с маслами-отходами:</p><br>
                <ul>
                    <li>такое масло должно находиться в защищенных нержавеющих резервуарах, специальных бочках или контейнерах в закрытых помещениях;</li>
                    <li>нельзя сливать эти отходы в канализацию, реки и озера, выливать на землю или асфальт;</li>
                    <li>нельзя перемешивать масло с другими химическими элементами и жидкостями, ведь это может привести к невозможности его переработки;</li>
                    <li>сдавайте отработанное масло на утилизацию профессионалам компании GO ECO GROUP.</li>
                </ul>
            </div>
            <div id="block-3" class="service-body-item">
                <h3>Методы утилизации</h3>
                <p>При использовании масло изнашивается и загрязняется. Если удалить все загрязнители, то срок годности масла можно продлить и улучшить его свойства. Во время очищения из него убирают конденсат, битумные отложения, коллоидные вещества и другие химические частицы. Таким образом оно становится пригодным для вторичного использования.</p>
                <br>
                <p>Существует много способов восстановить, утилизировать и переработать масло. Например:</p>
                <br>
                <ol>
                    <li>Регенерация. Масло предварительно обрабатывают теплом, фильтруют и химически обрабатывают. Это выгодный способ, чтобы получить чистое масло, подобное продукту из сырой нефти. К тому же этот способ можно повторять многократно.</li>
                    <li>Обезвоживание. Этот способ разовый, потому что из полученного сырья отапливают жилища и обеспечивает теплом промышленную деятельность.</li>
                    <li>Крекинг. Один из самых оптимальных и распространенных способов. С помощью термического крекинга отработанное масло превращается в горючее. Конечный продукт используют в химическом производстве.</li>
                    <li>Коагуляция — физико-химический метод утилизации масла. Это сложный процесс, который требует дальнейших операций с отходами.</li>
                    <li>Адсорбционная очистка. Этот метод подразумевает использование специальных частиц, которые впитывают загрязнение. Это может быть глина, оксид алюминия, боксит и другие.</li>
                    <li>Ионно-обменный метод. При этой чистке загрязнители проходят через ионитовые колонны, растворяются и распадаются на ионы. Она извлекает кислотные примеси, но бесполезна для смол.</li>
                </ol>
            </div>
            <div id="block-4" class="service-body-item">
                <h3>Опасность отработанного масла</h3>
                <p>Наша команда специализируется на переработке разных видов отходов, в том числе и отработанных масел. Мы собираем сырье на вашем предприятии, очищаем и утилизируем его по всем экологическим  стандартам.</p>
                <br>
                <p>Наша работа подтверждена необходимыми документами, разрешениями и сертификатами. Если вы хотите заказать утилизацию масел, просто нажмите кнопку
                    <a href="/order">Заказать</a>. Связаться с нами вы можете по
                    <a href="/contacts">телефону</a>, или <a href="mailto:info@go-eco.com" target="_blank">написать на почту</a>.</p>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
