{% extends "base.html" %}


{% block content %}

<div class="service-wrapper">
    <div class="service-banner">
        <img src="../static/img/pitches_bg.jpg" alt="">
        <div class="service-banner-content">
            <h1>Утилизация смол</h1>
            <h2>Каждый час мы утилизируем 15000 кг отходов</h2>
            <a href="{{ url_for('order', item='Утилизация смол') }}">Заказать услугу</a>
        </div>
    </div>
    <div class="crumbs">
        <a href="/">Главная</a>
        <a href="">Утилизация смол</a>
    </div>
    <div class="service">
        <div class="service-tools">
            <ul class="service-tabs">
                <li><a href="#block-1">Синтетические смолы</a></li>
                <li><a href="#block-2">Свойства и применение</a></li>
                <li><a href="#block-3">Типы утилизируемых отходов</a></li>
                <li><a href="#block-4">Преимущества утилизации</a></li>
                <li><a href="#block-5">Процесс утилизации</a></li>
                <li><a href="#block-6">Утилизация от GO ECO GOUP</a></li>
            </ul>
            <div class="service-btns">
                <a href="{{ url_for('order', item='Утилизация смол') }}">Заказать услугу</a>
                <a href="/contacts">Контакты</a>
            </div>
        </div>
        <div class="service-body">
            <div id="block-1" class="service-body-item">
                <h3>Синтетические смолы</h3>
                <p>Смола — незаменимый продукт в производстве древесных плит и фанер, их основной связующий материал. Это полимер, в основе которого лежат фенол и карбамид. Фенол — это кристаллическое токсичное вещество с резким запахом, которое получают при химической переработке угля. А карбамид (мочевина) широко используется в мебельной промышленности как адгезив. </p>
            </div>
            <div id="block-2" class="service-body-item">
                <h3>Свойства и применение</h3>
                <p>Для синтетических смол характерны определенные свойства, за которые их ценят на производстве. Это прочный и водостойкий материал, устойчивый к агрессивным химическим веществам (бензин, бутан, сера, ртуть, хлорид цинка и т.д.). Синтетические смолы применяют в различных видах промышленности, таких как: </p>
                <br>
                <ul>
                    <li>изготовление клеев, резины и пластмассы;</li>
                    <li>химическая промышленность и деревообработка (для производства красок, лаков, растворителей);</li>
                    <li>полиграфия;</li>
                    <li>ремонт корпусов, гидроизоляция помещений, в качестве герметика для плат и устройств;</li>
                    <li>строительство и ремонт (производство мебели, полимерных полов, стройматериалов).</li>
                </ul>
            </div>
            <div id="block-3" class="service-body-item">
                <h3>Чем опасны смолы?</h3>
                <p>Труд на заводах по изготовлению таких смол считается опасным, поэтому к работе допускают сотрудников в возрасте более 18 лет. Все они проходят инструктаж по технике безопасности и противопожарной профилактике.
                    Вред смол определяется их химическим составом, особенно они токсичны из-за фенола и формальдегида. Их элементы вступают в реакцию с кислородом и при нагревании выделяют ядовитые вещества. Длительное вдыхание фенольных паров приводит к проблемам со здоровьем дыхательных путей, вызывает аллергию и бронхит. При накоплении смол в организме развиваются болезни сердца, сосудов, печени и почек.
                    Несвоевременная утилизация чревата тем, что отходы попадают в почву, реки и озера. Это приводит к гибели растений, животных и рыб из-за ядовитости вещества. Кроме того, выброс смол на свалки или в водоемы преследуется законом. </p>
            </div>
            <div id="block-4" class="service-body-item">
                <h3>Преимущества утилизации</h3>
                <p>Избавляться от химических отходов самостоятельно — опасно. Переработкой должен заниматься обученный персонал со специальным оборудованием. Вот причины доверить это профессионалам GO ECO GROUP:</p>
                <br>
                <ol>
                    <li>Предотвращение вредных последствий для экологии: сохранение воздуха, почв, воды в Мировом океане, животных и рыб.</li>
                    <li>Вы избегаете административной ответственности и штрафов за неправильный процесс утилизации отходов.</li>
                    <li>Мы вывозим и утилизируем любые объемы отходов.</li>
                    <li>Мы определяем уровень опасности отходов и предлагаем оптимальное ценовое решение.</li>
                </ol>
            </div>
            <div id="block-5" class="service-body-item">
                <h3>Процесс утилизации</h3>
                <p>Существует несколько способов переработки и утилизации смол. Специалисты GO ECO GROUP подбирают наиболее подходящий для каждого отдельного случая. Этот процесс сложный и трудоемкий, проходит в несколько этапов. Мы применяем такие методы утилизации: </p>
                <br>
                <ul>
                    <li>переработка смол по заводским технологиям;</li>
                    <li>сжигание без вреда для атмосферы и без выбросов в воздух токсичных веществ. Происходит в закрытых печных установках, которые прошли все экологические экспертизы;</li>
                    <li>измельчение отходов и захоронение на специальных полигонов;</li>
                    <li>гидролиз</li>
                </ul>
                <br><p>Доверять такую трудную и опасную работу следует только профессионалам. </p>
            </div>
            <div id="block-6" class="service-body-item">
                <h3>Утилизация смол компанией GO ECO GROUP</h3>
                <p>Наши сотрудники — подготовленные специалисты с профессиональным оборудованием, которые помогут любому производству утилизировать и переработать вредоносные вещества. </p>
                <br>
                <p>Когда клиент оставляет заявку, наша команда выезжает на объект и проводит анализ степени опасности материалов. После этого мы подбираем  самый оптимальный и экологически релевантный способ утилизации. Наша деятельность  подтверждена лицензиями и разрешающими документами.</p>
                <br>
                <p>Обращаясь в компанию GO ECO GROUP вы получите плодотворное сотрудничество по сбору, переработке и утилизации отходов. Закажите услугу «Утилизация смол» по
                    <a href="/contacts">телефону</a> или <a href="/order">онлайн на сайте</a>. Менеджер свяжется с вами по телефону и поможет по всем вопросам.</p>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
