{% extends "base.html" %}


{% block content %}

<div class="service-wrapper">
    <div class="service-banner">
        <img src="../static/img/oils_bg.jpg" alt="">
        <div class="service-banner-content">
            <h1>Утилізація відпрацьованої оливи</h1>
            <h2>Щогодини ми утилізуємо 15000 кг відходів</h2>
            <a href="{{ url_for('order', item='Утилізація відпрацьованої оливи') }}">Замовити послугу</a>
        </div>
    </div>
    <div class="crumbs">
        <a href="/">Головна</a>
        <a href="">Утилізація відпрацьованої оливи</a>
    </div>
    <div class="service">
        <div class="service-tools">
            <ul class="service-tabs">
                <li><a href="#block-1">Утилізація відпрацьованої оливи</a></li>
                <li><a href="#block-2">Як ми прцюємо</a></li>
            </ul>
            <div class="service-btns">
                <a href="{{ url_for('order', item='Утилізація відпрацьованої оливи') }}">Замовити послугу</a>
                <a href="/contacts">Контакти</a>
            </div>
        </div>
        <div class="service-body">
            <div id="block-1" class="service-body-item">
                <h3>Утилізація відпрацьованої оливи</h3>
                <p>З часом автомобільні та індустріальні оливи втрачають свої властивості - змінюється їх в'язкість,
                    зольність та інші характеристики, з'являються сторонні домішки. Такі відходи відпрацьованих олив
                    відносяться до небезпечних відходів та можуть завдати шкоди навколишньому середовищу. Відходи
                    відпрацьованих олив слід утилізувати відповідно до встановлених вимог, передбачених Законом України
                    «Про відходи» та постановою КМУ від 17 грудня 2012 р. №1221 «Деякі питання збирання, перевезення,
                    зберігання, оброблення (перероблення), утилізації та/або знешкодження відпрацьованих мастил (олив)».
                    Компанія <b>Go-Eco Group</b> пропонує вам свої послуги з утилізації відходів олив. Крім того, ми
                    зацікавлені придбати відпрацьовані індустріальні оливи.</p>
                <br>
                <p>Ціни, які ми пропонуємо за провадження діяльності з утилізації відпрацьованих олив є
                    конкурентоспроможними та безпосередньо залежать від утилізаційного обсягу даного виду відходів.</p>
                <br>
                <p>Послуги з утилізації відпрацьованих олив надаються компанією саме завдяки відповідному обладнанню та
                    кваліфікованому штату досвідчених фахівців. Бажання отримати послуги компанії <b>Go-ECO GROUP</b> з
                    утилізації олив в межах України є цілком обґрунтованим та виваженим рішенням, завдяки якому ви
                    досягаєте одразу кількох цілей:</p>
                <br>
                <ul>
                    <li>Скорочення витрат на утилізацію (знищення) відходів олив;</li>
                    <li>Додаткові прибутки підприємства шляхом продажу відпрацьованого матеріалу, що підлягає
                        утилізації.
                    </li>
                </ul>
            </div>
            <div id="block-2" class="service-body-item">
                <h3>Як ми прцюємо</h3>
                <p>Досягаючи домовленостей з контрагентом, відповідно до умов укладеного договору, виконуємо усі
                    договірні зобов’язання добросовісно, приймаючи в утилізацію усі види відходів олив, включаючи
                    відходи синтетичних олив.
                    Ціна утилізації залежить від типу оливи та його обсягу.
                </p>
                <br>
                <p>Дізнатися, за якою ціною ми можемо придбати а також утилізувати ваши відходи оливи дуже просто ,
                    залиште нам заявку і ми обов'язково визначимо взаємовигідні умови!</p>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
