{% extends "base.html" %}


{% block content %}

<div class="service-wrapper">
    <div class="service-banner">
        <img src="../static/img/balance_bg.jpg" alt="">
        <div class="service-banner-content">
            <h1>Утилизация кубового остатка после хранения нефти</h1>
            <h2>Каждый час мы утилизируем 15000 кг отходов</h2>
            <a href="{{ url_for('order', item='Кубовый остаток после хранения нефти') }}">Заказать услугу</a>
        </div>
    </div>
    <div class="crumbs">
        <a href="/">Главная</a>
        <a href="">Кубовый остаток после хранения нефти</a>
    </div>
    <div class="service">
        <div class="service-tools">
            <ul class="service-tabs">
                <li><a href="#block-1">Введение</a></li>
                <li><a href="#block-2">Понятие нефтепродуктов</a></li>
                <li><a href="#block-3">Чем опасны продукты нефти</a></li>
                <li><a href="#block-4">Утилизация нефтепродуктов</a></li>
                <li><a href="#block-5">Утилизация от GO ECO GROUP</a></li>
            </ul>
            <div class="service-btns">
                <a href="{{ url_for('order', item='Кубовый остаток после хранения нефти') }}">Заказать услугу</a>
                <a href="/contacts">Контакты</a>
            </div>
        </div>
        <div class="service-body">
            <div id="block-1" class="service-body-item">
                <h3>Введение</h3>
                <p>Конфликт человека и природы достигает критической точки и угрожает существованию всего живого на планете. Экологические проблемы с каждым годом становятся все более актуальными для человечества. Использование ископаемого топлива, вырубка лесов и промышленные производства — лишь одна сторона проблемы. Другая, требующая не меньшего внимания, — переработка опасных отходов, которые загрязняют и разрушают окружающую среду. Например, утилизация нефтепродуктов.</p>
            </div>
            <div id="block-2" class="service-body-item">
                <h3>Понятие нефтепродуктов</h3>
                <p>После использования и переработки ископаемых, они превращаются в опасные отходы, которые необходимо утилизировать. Это смесь углеводородов и химических элементов, таких как песок, глина, тяжелые металлы, получаемых в процессе перегонки нефти.</p>
                <br>
                <p>Нефтепродукты — это бензин, различные виды топлива, битум, гудрон, растворители, смолы, масла, то есть сырье нефтехимического синтеза. Их используют на нефтяных производствах, в химической промышленности, в машиностроении, в авто-, судо- и авиастроении, на теплоэлектростанциях, в металлургии.</p>
            </div>
            <div id="block-3" class="service-body-item">
                <h3>Чем опасны продукты нефти</h3>
                <p>Нефть и ее производные продукты считаются ядовитыми веществами разной степени опасности. Они токсичны, испаряются, выделяя опасные соединения, легко воспламеняются, могут привести к взрывам и чрезвычайным ситуациям на производствах. Если их не утилизировать, они вредят окружающей среде: выделяют токсичные пары, могут попасть в водоемы и почвы, причиняя огромный вред природе.</p>
                <br>
                <p>Вне зависимости от того, какое количество нефти попало в почву или водоемы, это всегда колоссальный ущерб экологии. Самое страшное, что пораженные участки остаются безжизненными десятки лет. Утечка нефти и ее продуктов может стать причиной смерти для птиц, животных, рыб и растений.</p>
                <br>
                <p>Вдыхание испарений нефтепродуктов для человека крайне опасно. Вещества, которые содержатся в этих парах, поражают центральную нервную систему, повышают давление и вызывают тахикардию. При попадании нефти на кожу появляется сухость, пигментация, образовываются угри.</p>
            </div>
            <div id="block-4" class="service-body-item">
                <h3>Утилизация нефтепродуктов</h3>
                <p>Сбор, транспортировка и ликвидация этих веществ — сложный и опасный процесс, который проводится по строго установленным правилам Украинского законодательства. Из-за их сложной структуры из нефтепродуктов отделяют углеводород, воду и другие химические примеси. Существуют такие методы утилизации:</p>
                <br>
                <ol>
                    <li>Механическая переработка (отстаивание, гидропереработка, разделение на компоненты, гидроциклическая методика).</li>
                    <br>
                    <li>Очистка в декантере.</li>
                    <br>
                    <li>Биохимический метод (компоненты нефти разлагают с помощью окисления).</li>
                    <br>
                    <li>Физико-химический (экстракционные методики).</li>
                    <br>
                    <li>Термическая обработка (сжигание без кислорода, сжигание в печах, пиролиз).</li>
                </ol>
            </div>
            <div id="block-5" class="service-body-item">
                <h3>Преимущества работы с GO ECO GROUP</h3>
                <p>GO ECO GROUP — это команда профессионалов, которых объединяет одна общая цель. Наша цель — экологическая безопасность Украины и помощь производствам правильно утилизировать опасные отходы.</p>
                <br>
                <p>Обращаясь к GO ECO GROUP, клиенты могут рассчитывать на безопасную и качественную переработку любых видов токсичных отходов. Мы подбираем стоимость услуг индивидуально для каждого проекта, рассчитывая затраты на сбор и транспортировку. Сотрудничая с нами, вы освобождаете себя от ответственности и передаете переработку отходов специалистам.</p>
                <br>
                <p>Закажите услуга «Утилизации нефтепродуктов» от компании GO ECO GROUP. Звоните по <a href="/contacts">телефону</a>, или оставляйте заявку
                    <a href="/order">онлайн на сайте</a>.</p>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
