{% extends "base.html" %}


{% block content %}

<div class="service-wrapper">
    <div class="service-banner">
        <img src="../static/img/tar_bg.jpg" alt="">
        <div class="service-banner-content">
            <h1>Утилізація гудрону і кислого гудрону</h1>
            <h2>Щогодини ми утилізуємо 15000 кг відходів</h2>
            <a href="{{ url_for('order', item='Утилізація гудрону і кислого гудрону') }}">Замовити послугу</a>
        </div>
    </div>
    <div class="crumbs">
        <a href="/">Головна</a>
        <a href="">Утилізація гудрону і кислого гудрону</a>
    </div>
    <div class="service">
        <div class="service-tools">
            <ul class="service-tabs">
                <li><a href="#block-1">Вступ</a></li>
                <li><a href="#block-2">Чему потрібна утилізація</a></li>
            </ul>
            <div class="service-btns">
                <a href="{{ url_for('order', item='Утилізація гудрону і кислого гудрону') }}">Замовити послугу</a>
                <a href="/contacts">Контакти</a>
            </div>
        </div>
        <div class="service-body">
            <div id="block-1" class="service-body-item">
                <h3>Вступ</h3>
                <p>Загрозу виникнення наймасштабнішої екологічної катастрофи становлять озера-накопичувачі кислих
                    гудронів. Забруднення навколишнього середовища кислими гудронами було і залишається найгострішою
                    проблемою в усьому світі, оскільки в якості основного енергоносія використовується нафта.
                    Нафтопереробні виробництва - це постійно діюче джерело викидів, скидань і відходів, що завдають
                    природі відчутної шкоди. Території нафтошламових комор і озер-накопичувачів складають тисячі
                    квадратних кілометрів, а екологічні штрафи за їх утримання еквівалентні величезним сумам грошей.
                    У найбільших масштабах переробка кислих гудронів за допомогою термічної деструкції здійснюється в
                    США, де кислі гудрони є другим за важливістю, після сірки, видом сировини при виробництві сірчаної
                    кислоти. В Україні ж до недавнього часу вважалося, що простої та ліквідної технології утилізації
                    кислих гудронів не існує. Це омана.
                </p>
                <br>
                <p>Кислі гудрони - це відходи, що становлять в'язку рідину, яка містить поряд з органічними речовинами
                    15-70% сірчаної кислоти. Кислі гудрони утворюються при очищенні масляних фракцій нафтопродуктів
                    сірчаною кислотою на нафтопереробних і оливо-очисних заводах.</p>
            </div>
            <div id="block-2" class="service-body-item">
                <h3>Чему потрібна утилізація</h3>
                <p>На території України в переважній більшості кислі гудрони зберігаються в озерах-накопичувачах і
                    нафтошламових коморах, які кваліфікуються як тимчасові сховища, які мають бути утилізовані в
                    подальшому. Термін придатності багатьох цих сховищ вже давно закінчився. Внаслідок зносу поверхонь і
                    розгерметизації шкідливі речовини прямо потрапляють в грунтові води та осідають в грунті, що
                    призводить до їх використання неможливим і небезпечним для життя.
                    Кислі гудрони - високонебезпечні речовини, які за ступенем небезпеки можна прирівняти до
                    формальдегідів, миш'яку та ціанідів.
                    Період відновлення екосистеми при забрудненні кислими гудронами становить не менше 30 років після
                    повного усунення джерела шкідливого впливу.
                    Кислі гудрони відносять до II класу небезпеки:
                </p>
                <br>
                <ul>
                    <li>Гранично допустима концентрація шкідливих речовин в повітрі робочої зони - 0,1-1,0 мг / м3;</li>
                    <li>Середня смертельна доза (LD50) при введенні в шлунок - 15-150 мг / кг;</li>
                    <li>Середня смертельна доза при нанесенні на шкіру - 100-500 мг / кг;</li>
                    <li>Середня смертельна концентрація в повітрі - 500-5000 мг / м3;</li>
                </ul>
                <br>
                <p>Для порівняння, відпрацьовані покришки відносяться до IV класу небезпеки (малонебезпечні). При
                    порушенні правил їх утилізації екологічна система також порушується, але період самовідновлення в
                    десять разів менше - не менше 3-х років.</p>
                <br>
                <p>Утилізація кислих гудронів  компанією Go-Eco.Group це вірне рішення!</p>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
