{% extends "base.html" %}


{% block content %}

<div class="service-wrapper">
    <div class="service-banner">
        <img src="../static/img/oils_bg.jpg" alt="">
        <div class="service-banner-content">
            <h1>Відпрацьовані масла</h1>
            <h2>Щогодини ми утилізуємо 15000 кг відходів</h2>
            <a href="{{ url_for('order', item='Відпрацьовані масла') }}">Замовити послугу</a>
        </div>
    </div>
    <div class="crumbs">
        <a href="/">Головна</a>
        <a href="">Відпрацьовані масла</a>
    </div>
    <div class="service">
        <div class="service-tools">
            <ul class="service-tabs">
                <li><a href="#block-1">Відпрацьовані масла</a></li>
                <li><a href="#block-2">Як ми прцюємо</a></li>
            </ul>
            <div class="service-btns">
                <a href="{{ url_for('order', item='Відпрацьовані масла') }}">Замовити послугу</a>
                <a href="/contacts">Контакти</a>
            </div>
        </div>
        <div class="service-body">
            <div id="block-1" class="service-body-item">
                <h3>Відпрацьовані масла</h3>
                <p>З часом автомобільні та індустріальні оливи втрачають свої властивості - змінюється їх в'язкість,
                    зольність та інші характеристики, з'являються сторонні домішки. Такі відходи відпрацьованих олив
                    відносяться до небезпечних відходів та можуть завдати шкоди навколишньому середовищу. Відходи
                    відпрацьованих олив слід утилізувати відповідно до встановлених вимог, передбачених Законом України
                    про відходи та постановою КМУ 1221.
                    Компанія Go-Eco Group пропонує вам свої послуги з утилізації відходів олив , а також ми зацікавлені
                    придбати відпрацьовані індустріальні оливи!</p>
                <br>
                <p>Ціни, які ми пропонуємо за відпрацьовані оливи, конкурентоспроможні і безпосередньо залежать від
                    обсягу відпрацьованих олив.</p>
                <br>
                <p>До подальшої утилізації відпрацьованих олив у нас є складне обладнання та укомплектований штат
                    висококваліфікованих і досвідчених фахівців.
                    Звернення в «Go-Eco group» з приводу утилізації олив в межах України є цілком обґрунтованим та
                    виваженим рішенням!
                    Таким чином ви досягаєте відразу кількох цілей:</p>
                <br>
                <ul>
                    <li>Скорочує витрати на утилізацію (знищення) відходів олив;</li>
                    <li>Фінансова вигода, при продажу відходів нашої компанії яка виконує переробку;</li>
                    <li>Гарантія захисту навколишнього середовища.</li>
                </ul>
            </div>
            <div id="block-2" class="service-body-item">
                <h3>Як ми прцюємо</h3>
                <p>Ми приймаємо на утилізацію усі види відходів олив, включаючи відходи синтетичних олив.
                    Ціна утилізації залежить від типу оливи та його обсягу.
                </p>
                <br>
                <p>Дізнатися, за якою ціною ми можемо придбати а також утилізувати ваши відходи оливи дуже просто ,
                    залиште нам заявку і ми обов'язково визначимо взаємовигідні умови!</p>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
