{% extends "base.html" %}


{% block content %}

<div class="service-wrapper">
    <div class="service-banner">
        <img src="../static/img/fuel_oil_bg.jpg" alt="">
        <div class="service-banner-content">
            <h1>Утилізація мазуту</h1>
            <h2>Щогодини ми утилізуємо 15000 кг відходів</h2>
            <a href="{{ url_for('order', item='Утилізація мазуту') }}">Замовити послугу</a>
        </div>
    </div>
    <div class="crumbs">
        <a href="/">Головна</a>
        <a href="">Утилізація мазуту</a>
    </div>
    <div class="service">
        <div class="service-tools">
            <ul class="service-tabs">
                <li><a href="#block-1">Вступ</a></li>
                <li><a href="#block-2">Як утилізують мазуту</a></li>
            </ul>
            <div class="service-btns">
                <a href="{{ url_for('order', item='Утилізація мазуту') }}">Замовити послугу</a>
                <a href="/contacts">Контакти</a>
            </div>
        </div>
        <div class="service-body">
            <div id="block-1" class="service-body-item">
                <h3>Вступ</h3>
                <p>Ця рідка суміш утворюється внаслідок переробки нафти і нафтопродуктів. Щоб уникнути забруднення
                    навколишнього середовища непридатні для застосування нафтові відходи слід вчасно утилізувати.</p>
                <br>
                <p>У цій непростій справі допомогти може наша компанія. Фахівці проведуть якісну переробку та утилізацію
                    мазуту в Україні , надавши велику послугу промисловим підприємствам, які зможуть безпечно і швидко
                    позбутися від даних відходів.
                    Навіщо потрібна утилізація мазуту?
                </p>
                <br>
                <p>В зв’язку з <a href="https://zakon.rada.gov.ua/laws/show/927-2013-%D0%BF" target="_blank">постановою
                    КМУ 927</a> від 2013 року мазут з сіркою яка перевищує 1% масовий потребує
                    утилізації.</p>
                <br>
                <p>Досить часто некондиційний мазут зберігається в спеціальних накопичувальних резервуарах. Через
                    механічни пошкодження або через знос ємностей мазут може потрапити в навколишнє природне середовище
                    і надати негативний вплив. Зберігання цього виду палива завжди пов'язане з великими екологічними
                    ризиками:
                    Нафтові відходи під час горіння токсичні для живих організмів.
                    Вода з вмістом мазута забруднює ґрунт небезпечними хімічними елементами.
                    Нафтові відходи, потрапляючи у водойми, знищують мешканців водного світу.
                    Тому правильна переробка і утилізація мазуту вкрай важлива для збереження екології.
                </p>
            </div>
            <div id="block-2" class="service-body-item">
                <h3>Як відбувається утилізація мазуту</h3>
                <p>На сьогоднішній день є різні способи знешкодження та утилізації нафтових відходів:</p>
                <br>
                <ol>
                    <li>Зневоднення мазуту на спеціальних установках з метою подальшого поховання залишилися твердих
                        речовин на полігонах.
                    </li>
                    <li>Захоронення відходів на спеціально захищених і обладнаних полігонах.</li>
                    <li>Процес термічної переробки, що призводить до розкладання всіх речовин, що знаходяться в складі
                        мазуту.
                    </li>
                    <li>Біологічний метод для переробки мазуту в добриво.</li>
                    <li>Хімічний спосіб з використанням спеціальних адсорбентів або негашеного вапна.</li>
                    <li>Ультразвукова обробка рідкої складової мазуту.</li>
                    <li>Хіміко-фізичний метод, що розділяє мазут на фракції, придатні для подальшого застосування.</li>
                </ol>
                <br>
                <p>Кожен з цих методів має свої нюанси і певні ризики. Тому для виконання завдань по переробці мазуту
                    найкраще звертатися до професіоналів. Спеціалізація нашої компанії - утилізація відходів
                    виробництва, в тому числі і мазуту в Україні.</p>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
