{% extends "base.html" %}


{% block content %}

<div class="service-wrapper">
    <div class="service-banner">
        <img src="../static/img/oil_sludge_bg.jpg" alt="">
        <div class="service-banner-content">
            <h1>Утилізація нафтошламу</h1>
            <h2>Щогодини ми утилізуємо 15000 кг відходів</h2>
            <a href="{{ url_for('order', item='Утилізація нафтошламу') }}">Замовити послугу</a>
        </div>
    </div>
    <div class="crumbs">
        <a href="/">Головна</a>
        <a href="">Утилізація нафтошламу</a>
    </div>
    <div class="service">
        <div class="service-tools">
            <ul class="service-tabs">
                <li><a href="#block-1">Утилізація нафтошламу</a></li>
                <li><a href="#block-2">Коли утилізувати</a></li>
            </ul>
            <div class="service-btns">
                <a href="{{ url_for('order', item='Утилізація нафтошламу') }}">Замовити послугу</a>
                <a href="/contacts">Контакти</a>
            </div>
        </div>
        <div class="service-body">
            <div id="block-1" class="service-body-item">
                <h3>Утилізація нафтошламу</h3>
                <p>Нафтошламом є поєднання механічних домішок, відпрацьованої нафти та води. Ця суміш становить високу
                    небезпеку для екології країни. Стратегія компанії <b>«НВП ЕКО ОІЛ»</b> полягає саме у створенні
                    новітніх
                    технологій з утилізації нафтошламу, а також їх використанні на професійному рівні для попередження
                    та усунення усіх можливих наслідків. Адже утилізація нафтошламу є пріоритетним завданням
                    компанії.</p>
                <br>
            </div>
            <div id="block-2" class="service-body-item">
                <h3>У яких випадках необхідно утилізувати</h3>
                <p>Відомо, що 5% від усього обігу нафтопродуктів в Україні становить саме нафтошлам, що еквівалентно 25
                    млн м3.</p>
                <br>
                <p>Утворення нафтошламу відбувається внаслідок:</p>
                <ul>
                    <li>накопичення в транспортному цеху або нафтовій коморі;</li>
                    <li>аварії при перевезенні або видобутку нафти;</li>
                    <li>утворення відходів у нафтових резервуарах;</li>
                    <li>скидань в період випробування свердловин.</li>
                </ul>
                <br>
                <p><b>«НВП ЕКО ОІЛ»</b> - компанія, яка займається утилізацією нафтошламів. Ми на якісному рівні
                    вирішуємо
                    завдання щодо усунення наслідків, які виникли внаслідок видобутку вуглеводневої сировини. Наша
                    компанія має ліцензію на виконання таких відповідальних завдань, як утилізація нафтошламу: послуги
                    включають збір, перевезення, переробку, знешкодження та розміщення небезпечних відходів I-IV класу
                    небезпеки. Іншими словами, ми кваліфіковано займаємось утилізацією нафтових і бурових шламів, а
                    також усуненням усіх похідних від цього процесу проблем. Фахівці компанії роблять очищення
                    резервуарів, комор, майданчиків і бункерів.
                </p>
                <br>
                <p>Згідно висновку Державної екологічної експертизи <b>«НВП ЕКО ОІЛ»</b> є ліцензованою компанією на
                    використання обладнання. Співробітники підприємства завдяки навчанню та досвіду роботи здатні
                    впоратись із ситуацією будь-якого рівня складності там, де виникла гостра необхідність зберегти
                    навколишнє середовище від негативного впливу нафти та шламу з її складовими. Якщо така проблема
                    спіткало діяльність Вашого підприємства, <b>«НВП ЕКО ОІЛ»</b> оперативно та якісно усуне всі недоліки.</p>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
