{% extends "base.html" %}

{% block content %}

<div class="success">
    <svg height="200px" viewBox="0 0 185 200">
        <g fill="none" fill-rule="evenodd" transform="translate(-1)">
            <g fill-rule="nonzero">
                <path fill="#E5E5E5" d="M74.06 138.228l-5.616-45.466 65.778-44.914z"/>
                <path fill="#6F6F6F" d="M116.444 101.163L73.778 140l28.345-49.62z"/>
                <path fill="#FFF" d="M.889 99.466L185.778 0 150.76 127.595 101.25 90.482l31.865-42.967-65.848 45.387z"/>
            </g>
            <ellipse cx="93" cy="190" fill="#44C543" rx="89" ry="10"/>
        </g>
    </svg>
    <h1>Заявка успешно отправлена!</h1>
    <p>В ближайшее время мы свяжемся с Вами чтобы обсудить детали. Оставайтесь на связи.</p>
    <a href="/">Вернуться на сайт</a>
</div>

{% endblock content %}

