{% extends "base.html" %}


{% block content %}

<div class="about service-wrapper">
    <div class="service-banner">
        <img src="../static/img/what_bg.jpg" alt="">
        <div class="service-banner-content">
            <h1>Чому потрібно утилізувати</h1>
            <h2>Відповідно до Закону України</h2>
        </div>
    </div>
    <div class="crumbs">
        <a href="/">Головна</a>
        <a href="">Чому потрібно утилізувати</a>
    </div>
    <div class="service">
        <div class="service-tools">
            <ul class="service-tabs">
                <li><a href="#block-1">Чому потрібно утилізувати</a></li>
                <li><a href="#block-2">Вимоги</a></li>
            </ul>
            <div class="service-btns">
                <a href="/order">Замовити послугу</a>
                <a href="/contacts">Контакти</a>
            </div>
        </div>
        <div class="service-body">
            <div id="block-1" class="service-body-item">
                <h3>Чому потрібно утилізувати</h3>
                <p>Ухилення від проведення або неналежне проведення на території, що зазнала забруднення небезпечними
                    речовинами або випромінюванням, дезактиваційних чи інших відновлювальних заходів щодо ліквідації або
                    усунення наслідків екологічного забруднення особою, на яку покладено такий обов'язок, якщо це
                    спричинило загибель людей або інші тяжкі наслідки, - карається обмеженням волі на строк до п'яти
                    років або позбавленням волі на той самий строк, з позбавленням права обіймати певні посади чи
                    займатися певною діяльністю на строк до трьох років.</p>
            </div>
            <div id="block-2" class="service-body-item">
                <h3>Вимоги щодо обов’язкової утилізації передбачені вимогами:</h3>
                <p><a href="https://zakon.rada.gov.ua/laws/show/2341-14" target="_blank">Ст. 239, 241, 243, 244, 268
                    Кримінального кодексу України</a></p>
                <br>
                <p><a href="https://zakon.rada.gov.ua/laws/show/187/98-%D0%B2%D1%80" target="_blank">Закону України «Про
                    відходи» (Відомості Верховної Ради України (ВВР), 1998, № 36-37, ст.242)</a></p>
                <br>
                <p><a href="https://zakon.rada.gov.ua/laws/show/927-2013-%D0%BF" target="_blank">Постанови КМУ від 1
                    серпня 2013 р. № 927</a></p>
                <br>
                <p><a href="https://zakon.rada.gov.ua/laws/show/1221-2012-%D0%BF" target="_blank">Постанови КМУ від 17
                    грудня 2012 р. № 1221</a></p>
                <br>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
